{##
 # assignment_add.twig
 # 
 # Form for creating new assignments.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_add.twig for parameters
 #}
{% extends "base_add.twig" %}

{% block record_items %}

  <table>
    {% for item_id, entry in item %}
      {% if 'hidden' != entry.type %}
        {# make null entries an empty string #}
        {% set entry_value = entry.value is defined ? entry.value : "" %}
        
        {% if 'enum' == entry.type and 1 == entry.enum|length and not entry.force %}
  
          {# don't display enums where there is only one possible value #}
          <tr><td style="height:0px">
          {% for value_id, value in entry.enum %}
            <input id="{{ widget.full }}__{{ item_id }}" type="hidden"
                   value="{{ 'NULL' == value_id ? '' : value_id }}" />
          {% endfor %}
          </td></tr>

        {% else %}

          <tr>
            <td class="heading">
              <span class="title">{{ entry.heading }}:</span>
            </td>
            <td class="content" style="padding-top: 0.5em; padding-bottom: 0.5em">
  
            {% if 'constant' == entry.type %}
          
                <div id="{{ widget.full }}__{{ item_id }}"
                     class="padded">{{ entry_value }}</div>
        
            {% elseif 'enum' == entry.type %}
            
              {# display all values in a select #}
              <select id="{{ widget.full }}__{{ item_id }}"
                      style="width: 100%"
                      class="ui-state-default">
                {% for value_id, value in entry.enum %}
                  <option{{ entry_value == value_id ? ' selected' : '' }}
                          value="{{ 'NULL' == value_id ? '' : value_id }}">{{ value }}</option>
                {% endfor %}
              </select>
      
            {% endif %}
        
            {% if entry.note is defined %}
              <div class="help_note">
                {% autoescape false %}
                  {{ entry.note }}
                {% endautoescape %}
              </div>
            {% endif %}
            </td>
          </tr>
          {% if not loop.last %}
            <tr><td></td><td><hr class="ui-widget ui-widget-content"></td></tr>
          {% endif %}

        {% endif %}
      {% endif %}
    {% endfor %}
  </table>

{% endblock record_items %}
