{##
 # base_transfer_list.twig
 #
 # Base template for transferring items from one record to another.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">

    $( function () {

      // transfer from selector
      $( "#{{ widget.full }}__transfer_from" ).change( function() {
         var id_source = $( "#{{ widget.full }}__transfer_from option:selected" ).val();
         if( id_source != {{ id }} ) {
           slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}", { id : id_source } );
         }
      } );

      // transfer button
      $( "#{{ widget.compound }}_transfer" ).click( function() {
        // get the object of checked ids from the cookies
        var json_checked_ids =
          $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids" );
        var checked_ids = undefined == json_checked_ids ||
                          null == json_checked_ids ||
                          "null" == json_checked_ids
                        ? new Object()
                        : jQuery.parseJSON( json_checked_ids );

        var ids = new Array();
        for( id_string in checked_ids ) {
          ids.push( parseInt( id_string.substring( id_string.lastIndexOf("_") + 1 ) ) );
        }

        if( 0 == ids.length ) {
          error_dialog(
            "Error: Nothing selected",
            "<p>You must select at least one {{ list_subject }}.<br>" +
            "Please select {{ list_subjects }} to transfer from the " +
            "{{ widget.subject_name }}, or click cancel.</p>",
            true );
        } else {

          {% block arguments %}
            var args = new Object();
            args.id = {{ id }};
            args.id_destination = $( "#{{ widget.full }}__transfer_to option:selected" ).val();
            args.id_list = ids;
          {% endblock arguments %}

          confirm_dialog(
            "Transfer {{ list_subjects }} from the {{ widget.subject_name }}?",
            "<p>You have selected " +
            ( 1 == ids.length ? "one {{ list_subject }}" : ids.length + " {{ list_subjects }}" ) +
            " to be transferred from the {{ widget.subject_name }}.<br>" +
            "Are you sure you want to continue?</p>",
            function() {
              if( ajax_push( "{{ widget.subject }}", "transfer_{{ list_subject }}", args ) ) {
                // clear the checked ids object cookie and refresh the page
                $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids", null );
                slot_refresh( {{ slot }} );
              }
            }
          );
        }
      } );

      // cancel button
      $( "#{{ widget.compound }}_back" ).click( function() {
        // clear the checked ids cookie
        $.cookie( "{{ widget.full }}_{{ list_widget_name }}_checked_ids", null );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  {% block prelist %}

    {% if sources is defined and targets is defined and current_targets is defined %}
      <label for="{{ widget.full }}__transfer_from">Transfer From:</label>
      <select id="{{ widget.full }}__transfer_from" class="ui-state-default"
        style="margin-top:4px;margin-bottom:4px;">
        {% for source_id, name in sources %}
          <option {% if source_id == id %}selected{% endif %}
            value="{{ source_id }}">{{ name }}</option>
        {% endfor %}
      </select>

      {% set id_target = id_target|default(0) %}
      <label for="{{ widget.full }}__transfer_to">Transfer To:</label>
      <select id="{{ widget.full }}__transfer_to" class="ui-state-default"
        style="margin-top:4px;margin-bottom:4px;">
        {% for id, name in current_targets %}
          <option {% if id == id_target %}selected{% endif %}
            value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    {% endif %}

  {% endblock prelist %}

  {% block listing %}

    {# Add the list using the list"s widget name to determine which template to use #}
    {% set list_template = [ list_widget_name, "twig" ]|join(".") %}
    {% include list_template with list %}

  {% endblock listing %}

  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.compound, [ 'transfer' ], 'Cancel', 'right', true ) }}

  </div>
{% endblock widget %}
