{##
 # test_entry_confirmation_transcribe.twig
 # 
 # Transcribe a confirmation test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      // TODO debug Next button enable disable conditions

      // find and handle radio element change events:
      $( "#{{ widget.full }}__entry_table" ).find("input:radio").change( function() {
        var args = new Object();
        var columns = new Object();
        columns["id"] = $(this).attr( "name" );
        columns["test_entry_id"] = "{{ parent.id }}";
        if( $(this).val() == "yes" ) {
          columns["confirmation"] = 1;
        } else {
          columns["confirmation"] = 0;
        }
        console.log(columns);
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          $("#{{ parent.full }}_Next").button( { disabled : false } );
        }
             
      } );


      $( "#{{ parent.full }}_Reset" ).click(function() {
        var id = "{{ parent.id }}";
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": {{ id }} } ) ) {
          input = $("#{{ widget.full }}__entry_table" ).find( "input" );
          input.each( function() {
            $(this).removeAttr( "checked" );
          } );
          $("#{{ parent.full }}_Next").button( { disabled : true } );
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block widget %}
    
  <div class="spacer">

  <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

      <tr>
          <td><input
             id="{{ widget.full }}__Yes"
             name={{ entry_data.id }}
             value="yes"
             type="radio"
             {{ entry_data.confirmation == '1' ? "checked" : "" }}>
             <label for="{{ widget.full }}__Yes">Yes</label>
          </td>
       </tr> 
      <tr>
          <td><input
             id="{{ widget.full }}__No"
             name={{ entry_data.id }}
             value="no"
             type="radio"
             {{ entry_data.confirmation == '0' ? "checked" : "" }}>
             <label for="{{ widget.full }}__No">No</label>
          </td>
       </tr> 

  </table> 

{% endblock widget %}

