{##
 # test_entry_confirmation_transcribe.twig
 #
 # Transcribe a confirmation test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    var table_selector = "#{{ widget.full }}__entry_table";

    function configure_ui() {

      //disable elements based on deferred status
      if( {{ deferred }} || !{{ editable }} ) {
        $( "#{{ parent.full }}__audio_fault" ).prop( "disabled", "disabled" );
        $( "#{{ parent.full }}_Defer" ).button( { disabled :  true } );
        $( "#{{ parent.full }}_Reset" ).button( { disabled : true } );
        $( table_selector + " input" ).each( function() {
          $(this).prop( "disabled", true );
        } );
      } else {
        // only enable the next button when there is at least one entry filled
        var disable = 0 == $( table_selector + ' input[type="radio"]:checked' ).length;
        $("#{{ parent.full }}_Next").button( { disabled : disable } );

        // disable the Reset button if there is nothing to reset
        $( "#{{ parent.full }}_Reset" ).button( { disabled : disable } );
      }
    }

    $( function () {

      configure_ui();

      // find and handle radio element change events
      $( table_selector + " input:radio" ).change( function() {
        var args = new Object();
        var columns = new Object();
        args.id = $(this).prop( "id" ).split( "__" )[0];
        columns["confirmation"] = ( $(this).val() === "yes" ) ? 1 : 0;
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          configure_ui();
        }
      } );// end radio input change

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div class="spacer"></div>

  <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

  <div class="spacer"></div>

  <table id="{{ widget.full }}__entry_table" style="width:20%">

    <thead>
      <tr>
        <th>Yes</th>
        <th>No</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__yes"
            name="confirmation"
            value="yes"
            {% if editable == 0 %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '1' ? "checked" : "" }}/>
        </td>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__no"
            name="confirmation"
            value="no"
            {% if editable == 0 %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '0' ? "checked" : "" }}/>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock widget %}
