{##
 # test_entry_transcribe.twig
 #
 # Extends the base_record template for transcribing recordings.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    function configure() {
      var audio_state = $( "#{{ widget.full }}__audio_status option:selected" ).val();
      var participant_state = $( "#{{ widget.full }}__participant_status option:selected" ).val();
      disable = audio_state == 'unusable' || audio_state == 'unavailable' ||
                participant_state == 'refused';

      var is_deferred = "requested" == "{{ deferred }}";
      if( is_deferred ) disable = true;
      $( "#{{ widget.full }}__audio_status" ).prop( "disabled", disable );
      $( "#{{ widget.full }}__participant_status" ).prop( "disabled", disable );
    }

    $( function () {

      $( "#{{ widget.full }}__audio_status" ).change( function() {
        var state = $( "#{{ widget.full }}__audio_status option:selected" ).val();
        var args = new Object();
        args.id = {{ id }};
        args.columns = { audio_status : 'NULL' == state ? '' : state };
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          configure();
          slot_refresh( {{ slot }} );
        }
      } ); // end Audio Status change

      $( "#{{ widget.full }}__participant_status" ).change( function() {
        var state = $( "#{{ widget.full }}__participant_status option:selected" ).val();
        var args = new Object();
        args.id = {{ id }};
        args.columns = { participant_status : 'NULL' == state ? '' : state };
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          configure();
          slot_refresh( {{ slot }} );
        }
      } ); // end Participant Status change

      $("#{{ widget.full }}_quit").click( function() {
        slot_load( {{ slot }}, "assignment", "list" );
      } ); // end quit click

      $( "#{{ widget.full }}_defer" ).click( function( e, callback ) {

        $dialog = $( "#{{ widget.full }}__note_dialog" );
        var buttons = new Object;
        buttons.Ok = function() {
          var note = $("#{{ widget.full }}__note").val();
          if( 0 == note.length ) {
            error_dialog( "Error", "You cannot leave a blank note." );
          } else {
            args = new Object();
            args.note = note;
            args.category = "{{ widget.subject }}";
            args.category_id = {{ id }};

            if( ajax_push( "note", "new", args ) ) {
              $dialog.dialog( "close" );

              if( typeof callback === "function" ) {
                callback( true );
              } else {
                var args = new Object();
                args.columns = { deferred : "requested" };
                args.id = {{ id }};
                if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
                  slot_refresh( {{ slot }} );
                }
              }
            }
          }
        };
        buttons.Cancel = function() {
          var note = $("#{{ widget.full }}__note").val();
          $audio_select = $( "#{{ widget.full }}__audio_status" );
          if( 0 == note.length && 'unavailable' == $audio_select.val() ) {
            error_dialog( "Error",
              "You cannot leave a blank note when setting audio status as unavaiable." +
              "Resetting audio state to the default unset state." );
            if( typeof callback === "function" ) callback();
          }
          $dialog.dialog( "close" );
        };

        var html = "A note is required indicating the reason for deferral.";
        html += "<textarea id=\"{{ widget.full }}__note\"></textarea>";

        $dialog.html( html );

        $dialog.dialog( {
          closeOnEscape: true,
          title: "Deferral Note",
          modal: true,
          dialogClass: "alert",
          width: 450,
          buttons: buttons,
          beforeClose: function( event, ui ) { $(this).html( "" ); },
          open: function( event, ui ) { $( ".ui-dialog-titlebar-close", $(this).parent() ).hide(); }
        } );

      } ).button( { disabled : "requested" == "{{ deferred }}" } ); // end defer click

      $( "#{{ widget.full }}_prev" ).click( function() {
        {% if 0 == prev_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}
          slot_load( {{ slot }},
            "{{ widget.subject }}", "{{ widget.name }}",
            { id : {{ prev_test_entry_id}} } );
        {% endif %}
      } ).button( { disabled : 1 == {{ rank }} } ); // end prev click

      $( "#{{ widget.full }}_next" ).click( function() {
        {% if 0 == next_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}
          slot_load( {{ slot }},
            "{{ widget.subject }}", "{{ widget.name }}",
            { id : {{ next_test_entry_id }} } );
        {% endif %}
      } ); // end next click

      $( "#{{ widget.full }}_reset" ).click( function() {
        if( ajax_push( "{{ widget.subject }}", "reset", { "id": {{ id }} } ) ) {
          slot_refresh( {{ slot }} );
        }
      } ); // end reset click

      $( "#{{ widget.full }}_submit" ).click( function() {
        if( ajax_push( "{{ widget.subject }}", "submit", { "id": {{ id }} } ) ) {
          slot_refresh( {{ slot }} );
        }
      } ); // end submit click

    } );
  </script>

{% endblock javascript %}

{% block record %}

  <div class="spacer"></div>

  <div>
    {% include [ 'test_entry_', test_type, '_transcribe.twig']|join with test_entry_args %}
  </div>

  <div class="spacer"></div>

  <div id="audio_control">
    {% if recording_data is defined %}
      <table>
        {% set recording_id = 0 %}
        {% for recording in recording_data %}
          <tr>
            <td>
              <audio controls>
                id="{{ widget.full }}__recording__{{ recording_id }}"
                <source src="{{ recording }}" type="audio/wav">
              </audio>
            </td>
          </tr>
          {% set recording_id = recording_id+1 %}
        {% endfor %}
      </table>
    {% endif %}
  </div>

  <div id="test_entry_status">
    <table style="width:25%">
      <tr>
        <td class="heading">Audio Status:</td>
        <td style="min-width:150px">
        <select id="{{ widget.full }}__audio_status"
          class="ui-state-default"
          style="width: 100%"
          {% if editable == 0 or deferred == "requested" %}
            { disabled }
          {% endif %}>
          {% for status_id, status in audio_status_list %}
            {% set status_display = status is defined ? status : "" %}
            <option{{ audio_status == status_id ? ' selected' : '' }}
             value="{{ status_id }}">{{ status_display }}</option>
          {% endfor %}
        </select>
        </td>
      </tr>
      <tr>
        <td class="heading">Participant Status:</td>
        <td style=min-width:150px">
        <select id="{{ widget.full }}__participant_status"
          class="ui-state-default"
          style="width: 100%"
          {% if editable == 0 or deferred == "requested" %}
            { disabled }
          {% endif %}>
          {% for status_id, status in participant_status_list %}
            {% set status_display = status is defined ? status : "" %}
            <option{{ participant_status == status_id ? ' selected' : '' }}
             value="{{ status_id }}">{{ status_display }}</option>
          {% endfor %}
        </select>
        </td>
      </tr>
    </table>
  </div>

  <div>
    {% if actionable == 1 %}
      <div style="min-width: 25%; float: left;">
        {% from 'macros.twig' import note_widget %}
        {{ note_widget( widget.full, 'test_entry', id, false, 'Notes' ) }}
      </div>
      {% from 'macros.twig' import confirm_buttons %}
        {{ confirm_buttons( slot, widget.full,
          ['defer', 'reset', 'submit', 'prev', 'next', 'quit'], '', 'right', true ) }}
    {% endif %}
  </div>

  <div id="{{ widget.full }}__note_dialog"></div>

{% endblock record %}
