{##
 # test_entry_ranked_word_transcribe.twig
 # 
 # Transcribe a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    function configure_ui( do_text ) {
      var numRadio = $( ':input[type="radio"]' ).length / 3;
      var numYes = $( ':input[type="radio"][value="yes"]:checked' ).length;
      var numNo = $( ':input[type="radio"][value="no"]:checked' ).length;
      var numVariant = $( ':input[type="radio"][value="variant"]:checked' ).length;
      // count number of items with value "yes"
      // count number of items with value "no"
      // count number of items with value "variant"
      // total yes + no + variant == total radio / 3 => enable next button
 
      var disable = ( numYes + numNo + numVariant ) != numRadio && !{{ deferred }};
      $( "#{{ parent.full }}_Next" ).button( { disabled : disable } );

      // disable elements based on deferred status
      if( {{ deferred }} ) {
        $( "#{{ parent.full }}__audio_fault" ).attr( "disabled", "disabled" );
        $( "#{{ parent.full }}_Defer" ).button( { disabled :  true } );
        $( "#{{ parent.full }}_Reset" ).button( { disabled : true } );
        $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
          $(this).attr( "disabled", "disabled" );
        } );
      }

      do_text = (typeof do_text == 'undefined') ? true : do_text;
      if( do_text ) {
        // if no radio items are checked yet, disable all text inputs
        $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).each( function() {
            var disable = false;
            if( numYes == 0 && numNo == 0 && numVariant == 0 ) {
              disable = true;
            }
            else {
              var is_candidate = $(this).attr( "id" ).split( "__" )[1] == "candidate" ? true : false;
              if( is_candidate ) {
                var id = "#" + $(this).attr( "id" ).split( "__" )[0] + "__variant";
                disable = $( id ).attr( "checked" ) ? false : true;              
              }
            }
            if( disable ) { 
              $(this).attr( "disabled", "disabled" );
            } else {
              $(this).removeAttr( "disabled" );
            }
        } );
      }
    }

    $( function () {

      configure_ui(); 
       
      // find and handle radio element change events:
      // enable/disable the text entry element depending on
      // which radio button was selected
      $( "#{{ widget.full }}__entry_table" ).find( "input:radio" ).change( function() {
        var args = new Object();
        var columns = new Object();
        args.id = $(this).attr( "id" ).split("__")[0];
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" );
        columns["selection"] = $(this).val();

        var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
        var do_text = true;
        if( $(this).val() == "variant" ) {
          // disable inputs until the variant is entered
          $( "#{{ widget.full }}__entry_table" ).find( "input" ).attr( "disabled", "disabled" );
          $(text_id).removeAttr( "disabled" );
          $(text_id).focus();
          do_text = false;
        } else {
          $(text_id).attr( "disabled", "disabled" );
          $(text_id).val( "" );
        }
        
        columns["word_candidate"] = $(text_id).val();
        args.columns = columns;

        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          args.id = "{{ test_id }}";
          args['language'] = "{{ language }}";
          args['word_candidate'] = $(this).val();
          var classification = ajax_pull( "test", "classify_word", args );
          if( undefined != classification )
          {
            console.log( classification );
            $(this).attr( "name", classification );
          }        
        } 

        configure_ui( do_text ); 

      } );// end radio input change

      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        if( $(this).val().length == 0 ) {
          error_dialog( "Error", "Blank variant entry not permitted." );
        } else {

          var args = new Object();
          var columns = new Object();
          args.id = $(this).attr( "id" ).split("__")[0];
          var is_intrusion = $(this).attr( "id" ).split("__")[1] === "intrusion" ? true : false;
          columns["test_entry_id"] = "{{ parent.id }}";
          columns["word_id"] = $(this).attr( "name" );
          columns["word_candidate"] = $(this).val();
          columns["selection"] = is_intrusion ? "" : "variant";
          args.columns = columns;
          
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            input = $( "#{{ widget.full }}__entry_table" ).find( "input:radio" );
            input.each( function() {
              $(this).removeAttr( "disabled" );
              if( $(this).val() == 'variant' ) {
                var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
                if( $(text_id).val().length > 0 ) {
                  $(text_id).removeAttr( "disabled" );
                }  
              }
            } );
          }

          configure_ui(); 
        }
        
      } );// end text input change  

      // loop over and clear all input elements
      $( "#{{ parent.full }}_Reset" ).click(function() {
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": "{{ parent.id }}" } ) ) {
          input = $("#{{ widget.full }}__entry_table" ).find( "input" );
          input.each( function() {
            if( this.type == "radio" ) {
              $(this).removeAttr( "checked" );
            } else if ( this.type == "text" ) {
              $(this).val( "" );
              $(this).attr( "disabled", "disabled" );
            }
          } );

        configure_ui();
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    <thead>
      <tr>
        <td></td>
        <th>Yes</th>
        <th>No</th>
        <th>Variant</th>
        <td></td>
      </tr>
    </thead>

    <tbody>
    {% for entry in entry_data %}
      <tr>
        <td class="heading">{{ entry.word }}</td>
        {% if entry.word is defined %}
          <td><input type="radio" 
               id="{{ entry.id }}__yes"
               name={{ entry.word_id }}
               value="yes"
               {% if editable == false %}
                 { readonly }
               {% endif %}
               {{ entry.selection == 'yes' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id }}__no"
               name="{{ entry.word_id }}" 
               value="no"
               {% if editable == false %}
                 { readonly }
               {% endif %}
               {{ entry.selection == 'no' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id }}__variant"
               name={{ entry.word_id }} 
               value="variant"
               {% if editable == false %}
                 { readonly }
               {% endif %}
               {{ entry.selection == 'variant' ? "checked" : "" }}></td>
          <td><input type="text"
               id="{{ entry.id }}__candidate"
               name={{ entry.word_id }}
               class="{{ entry.classification }}"   
               {% if editable == false %}
                 { readonly }
               {% endif %}
               value={{ entry.word_candidate }}></td>
        {% else %}
          <td class="heading">intrusion</td>
          <td><input type="text"
               id="{{ entry.id }}__intrusion"
               {% if editable == false %}
                 { readonly }
               {% endif %}
               name=""
               value={{ entry.word_candidate }}></td>
        {% endif %}
      </tr>
    {% endfor %}  
    </tbody>   
  </table>

  <div id="{{ widget.full }}__variant_dialog"></div>

{% endblock widget %}
