{##
 # test_entry_adjudicate.twig
 # 
 # Extends the base_record template for adjudicating test entries.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">   

    $( function () {

      $("#{{ widget.full }}_Quit").click( function() {
        slot_load( {{ slot }}, "assignment", "list" );
      } ); // end Quit click

      $("#{{ widget.full }}_Submit").click( function() {
        var args = new Object();
        var columns = new Object();
        columns['participant_id']={{ participant_id }};
        columns['test_id']={{ test_id }};
        columns['completed']=1;
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "submit", args ) ) {
          console.log("success");

        }

      } ); // end Submit clickI

      $( "#{{ widget.full }}_Prev").click( function() {
        slot_load( {{ slot }}, 
          "{{ widget.subject }}", "{{ widget.name }}", 
          { id : {{ prev_test_entry_id }} } );
      } ).button( { disabled : {{ rank == 1 ? 'true' : 'false' }} } ); // end Prev click

      $( "#{{ widget.full }}_Next" ).click( function() {
        {% if 0 == next_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}  
          slot_load( {{ slot }}, 
            "{{ widget.subject }}", "{{ widget.name }}", 
            { id : {{ next_test_entry_id }} } );
        {% endif %}  
      } ); // end Next click

    } );
  </script>

{% endblock javascript %}

{% block record %}

  <div>
    
    <div class="spacer">

    <div>
      {% include [ 'test_entry_', test_type, '_adjudicate.twig']|join with test_entry_args %}      
    </div>  

    <div class="spacer">

      <div>
        <table>
          <tr>
            <td align="left"
                style="white-space: nowrap">
              <div id="audio_control">  
                <audio controls
                  id="{{ widget.full }}__audio_player"
                  <embed height="50" style="width:100%">
                </audio>
                <input type="checkbox"
                  id="{{ widget.full }}__audio_fault" 
                  {{ audio_fault ? "checked":"" }}
                  "disabled">
                <label for="{{ widget.full }}__audio_fault">Audio Fault</label>
              </div>
            </td>
            <td>
              <div>
                {% from 'macros.twig' import confirm_buttons %}
                  {{ confirm_buttons( slot, widget.full, 
                    ['Submit', 'Prev', 'Next', 'Quit'], '', 'right', true ) }}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="{{ widget.full }}__note_dialog"></div>

{% endblock record %}
