{##
 # test_entry_ranked_word_adjudicate.twig
 #
 # Adjudicate a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    var table_selector = "#{{ widget.full }}__adjudicate_table";

    // highlight the row the mouse is over
    $( table_selector + ' tbody tr').mouseover( function() {
      $(this).addClass( "ui-widget-header" );
    } );
    $( table_selector + ' tbody tr').mouseout( function() {
      $(this).removeClass( "ui-widget-header" );
    } );

    function configure_ui() {
      var disable_submit = false;
      var has_non_status_fields =
        0 < $( table_selector + ' input:checkbox[value="all"]' ).length;
      var has_status_fields =
        0 < $( table_selector + ' select[id$="adjudicate"]' ).length;

      if( has_non_status_fields ) {
        // check the non-intrusion entries
        var numTotal =
          $( table_selector + ' input:radio[name$="adjudicate"]' ).length / 3;
        var numYes =
          $( table_selector + ' input:radio[value="yes"][name$="adjudicate"]:checked' ).length;
        var numNo =
          $( table_selector + ' input:radio[value="no"][name$="adjudicate"]:checked' ).length;
        var numVariant =
          $( table_selector + ' input:radio[value="variant"][name$="adjudicate"]:checked' ).length;

        disable_submit = ( numYes + numNo + numVariant ) != numTotal;

        // check the intrusion entries
        if( !disable_submit ) {
          $( table_selector + ' input:text[id$="intrusion"]' ).each( function() {
            var id_1 = '#' + $(this).prop( "name" ).split( "__" )[0];
            var id_2 = '#' + $(this).prop( "name" ).split( "__" )[1];
            var id_3 = '#' + $(this).prop( "name" ).split( "__" )[2];
            id_1 = id_1 + '__' + id_3 + "__intrusion__accept";
            id_2 = id_2 + '__' + id_3 + "__intrusion__accept";
            if( ! ( $( id_1 ).prop( "checked" ) || $( id_2 ).prop( "checked" ) ) &&
                0 == $(this).val().length ) {
              var blank_id = '#' + $(this).prop( "id" ).replace( "intrusion", "blank" );
              if( ! $( blank_id ).prop( "checked" ) )  {
                disable_submit = true;
                return false;
              }
            }
          } );
        }

        if( has_status_fields ) {
          var disable_non_status_fields = false;
          $( table_selector + ' select[id$="adjudicate"]' ).each( function() {
            var state = $(this).val();
            if( state == "unavailable" || state == "unusable" || state == "refused" ) {
              disable_non_status_fields = true;
              disable_submit = false;
              return false;
            }
          } );
          if( disable_non_status_fields ) {
            $( table_selector + ' input:radio[name$="adjudicate"]' ).prop( "disabled", true );
            $( table_selector + ' input:text[id$="intrusion"]' ).prop( "disabled", true );
            $( table_selector + ' input:checkbox[value="all"]' ).prop( "disabled", true );
            $( table_selector + ' input:text[id$="candidate"]' ).prop( "disabled", true );
            $( table_selector + ' input:radio[value="accept"]' ).prop( "disabled", true );
          }
        }
      }

      $( "#{{ parent.full }}_submit" ).button( { disabled : disable_submit } );
    }

    // overrides the default autocomplete filter function to search only from the beginning
    // of the string
    $.ui.autocomplete.filter = function ( array, term ) {
      var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( term ), "i" );
      return $.grep( array, function ( value ) {
        return matcher.test( value.label );
      } );
    };

    function get_variant_text_complete() {
      var args = new Object();
      args["variant_dictionary_id"] = {{ variant_dictionary_id }};
      // words are determined according to test language restrictions
      args["test_entry_id"] = {{ adjudicate_entry_id }};
      args["words_only"] = 1;
      return $.map( ajax_pull( "word", "list", args ), function( value, key ) {
        return {
          label: value,
          value: key
        };
      });
    }

    function get_intrusion_text_complete() {
      var args = new Object();
      args["intrusion_dictionary_id"] = {{ intrusion_dictionary_id }};
      // words are determined according to test language restrictions
      args["test_entry_id"] = {{ adjudicate_entry_id }};
      args["words_only"] = 1;
      return $.map( ajax_pull( "word", "list", args ), function( value, key ) {
        return {
          label: value,
          value: key
        };
      });
    }

    $( function () {

      configure_ui();

      $( table_selector + ' input:text[id$="candidate"]' ).keypress( function( event ) {
        var keycode = event.keyCode ? event.keyCode : event.which;
        if( 13 == keycode && $(this).autocomplete('widget').is(':visible') ) {
          $(this).autocomplete('close');
        }
      } ).autocomplete( {
        source: get_variant_text_complete(),
        minLength: 1,
        delay: 0,
        select: function( event, ui ) {
          $(this).val( ui.item.label );
          $(this).attr( "value", ui.item.label );
          return false;
        },
        focus: function( event, ui ) {
          $(this).val( ui.item.label );
          $(this).attr( "value", ui.item.label );
          return false;
        },
        close: function( event, ui ) {
          var needle = $(this).val();
          var haystack = $(this).autocomplete("option").source;
          var key = null;
          for(var i in haystack) {
            if( needle === haystack[i].label ) {
              key = haystack[i].value;
              break;
            }
          }
          if( null === key ) return false;
          $(this).trigger( "change",  [ key ]  );
        }
      } );

      $( table_selector + ' input:text[id$="intrusion"]' ).keypress( function( event ) {
        var keycode = event.keyCode ? event.keyCode : event.which;
        if( 13 == keycode && $(this).autocomplete('widget').is(':visible') ) {
          $(this).autocomplete('close');
        }
      } ).autocomplete( {
        source: get_intrusion_text_complete(),
        minLength: 1,
        delay: 0,
        select: function( event, ui ) {
          $(this).val( ui.item.label );
          $(this).attr( "value", ui.item.label );
          return false;
        },
        focus: function( event, ui ) {
          $(this).val( ui.item.label );
          $(this).attr( "value", ui.item.label );
          return false;
        },
        close: function( event, ui ) {
          var needle = $(this).val();
          var haystack = $(this).autocomplete("option").source;
          var key = null;
          for(var i in haystack) {
            if( needle === haystack[i].label ) {
              key = haystack[i].value;
              break;
            }
          }
          if( null === key ) return false;
          $(this).trigger( "change",  [ key ]  );
        }
      } );

      //hijack all the non-accept radio buttons so that
      //a non-greyed out appearance can be maintained instead
      //of assigning the disabled attribute
      $( table_selector + ' div.radio__source' ).click( function( e ) {
        e.preventDefault();
        return false;
      });

      // find and handle Accept radio input change events:
      // copy the progenitor to the adjudicate entry
      $( table_selector + ' input:radio[value="accept"]' ).change(
        function() {
          var target_entry_id = $(this).prop( "name" ).split( "__" )[2];
          var args = new Object();
          args.id = target_entry_id;
          var candidate = null;
          var blank_id = null;
          var is_intrusion = -1 != $(this).prop( "id" ).indexOf( "intrusion" );

          if( is_intrusion ) {
            var source_flag = $(this).prop( "id" ).split( "__" )[0];
            var target_text_id = '#' + target_entry_id + "__intrusion";
            var source_text_id = '#' + source_flag + "__"+ target_entry_id + "__intrusion__source";
            blank_id = target_text_id.replace( "intrusion", "blank" );

            candidate = $( source_text_id ).val();
            if( typeof candidate === 'undefined' ) {
              candidate = "";
            }
            $( target_text_id ).removeClass();
            $( target_text_id ).addClass( $( source_text_id ).prop( "class" ) );
            $( target_text_id ).val( candidate );
            $( target_text_id ).attr( "value", candidate );
            $( target_text_id ).prop( "disabled", false );
            if( 0 == candidate.length ) {
              var columns = new Object();
              columns["word_id"]='';
              args.columns = columns;
            } else {
              args.candidate = candidate;
            }
          } else {
            var source_entry_id = $(this).prop( "id" ).split( "__" )[0];
            var radio_id =
              $( table_selector + ' input:radio[name="' + source_entry_id + '"]:checked').prop( "id" );
            var target_text_id = '#' +
              $( table_selector + ' input:text[id="'+ target_entry_id + '__candidate"]' ).prop( "id" );
            $( target_text_id ).removeClass();
            var source_radio_id = '#' + radio_id;
            var selection = $( source_radio_id ).prop( "value" );
            var columns = new Object();
            columns["selection"] = selection;
            columns["word_id"] = '';
            args.columns = columns;
            if( selection == "variant" ) {
              var source_text_id = '#' + radio_id.replace( "variant", "candidate" );
              candidate = $( source_text_id ).val();
              $( target_text_id ).addClass( $( source_text_id ).prop( "class" ) );
              $( target_text_id ).val( candidate );
              $( target_text_id ).attr( "value", candidate );
              $( target_text_id ).prop( "disabled", false );
              args.candidate = candidate;
            } else {
              $( target_text_id ).val( "" );
              $( target_text_id ).attr( "value", "" );
              $( target_text_id ).prop( "disabled", true );
            }
            var target_radio_id = '#' + $( table_selector + ' input:radio[id="' + target_entry_id +
                "__" + selection + '"]' ).prop( "id" );
            $( target_radio_id ).prop( "checked", $( source_radio_id ).prop( "checked" ) );
          }

          // push the edits
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            if( is_intrusion ) {
              $( blank_id ).prop( "checked", 0 == candidate.length );
            }
            configure_ui();
          } else {
            if( is_intrusion ) {
              $( blank_id ).prop( "checked", false );
            }
          }
      } ).click( function () {

        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );

      } );// end radio input change and click

      $( table_selector + ' div.adjudicate :radio' ).change( function() {
        var target_entry_id =  $(this).prop( "id" ).split( "__" )[0];
        var selection =  $(this).prop( "value" );
        var target_text_id = '#' + target_entry_id + "__candidate";
        $( target_text_id ).removeClass();

        if( selection == "variant" ) {
          $( target_text_id ).prop( "disabled", false );
          $( target_text_id ).focus();
        } else {
          $( target_text_id ).prop( "disabled", true );
          $( target_text_id ).val( "" );
          // update the value to present state
          $( target_text_id ).attr( "value", "" );
          var args = new Object();
          var columns = new Object();
          args.id = target_entry_id;
          columns["word_id"] = "";
          columns["selection"] = selection;
          args.columns = columns;

          // push the edits
          ajax_push( "{{ widget.subject }}", "edit", args );
        }

        // uncheck the Accept radio inputs
        var id_1 = '#' + $(this).prop( "name" ).split( "__" )[0] + "__accept";
        var id_2 = '#' + $(this).prop( "name" ).split( "__" )[1] + "__accept";
        $( id_1 ).removeProp( "checked" );
        $( id_2 ).removeProp( "checked" );

        // uncheck the "All" checkboxes if not all Accept radio items are selected
        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );

        configure_ui();
      } );// end adjudicate radio input change

      $( table_selector + ' div.adjudicate :text' ).change( function(event, obj) {

        // addresses focus event calling change
        if( undefined === obj ) {
          var needle = $(this).val();
          var haystack = $(this).autocomplete("option").source;
          for(var i in haystack) {
            if( needle === haystack[i].label ) {
              return false;
            }
          }
        }

        var is_intrusion = -1 != $(this).prop( "id" ).indexOf( "intrusion" );

        // uncheck the Accept radio inputs
        var id_1 = '#' + $(this).prop( "name" ).split( "__" )[0] +
          (is_intrusion ? "__intrusion__accept" : "__accept");
        var id_2 = '#' + $(this).prop( "name" ).split( "__" )[1] +
          (is_intrusion ? "__intrusion__accept" : "__accept");
        $( id_1 ).removeProp( "checked" );
        $( id_2 ).removeProp( "checked" );

        // uncheck the "All" checkboxes if not all Accept radio items are selected
        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );

        var candidate = $(this).val().trim().toLowerCase();
        // we've trimmed and lower-cased the candidate, so update the UI
        $(this).val( candidate );
        // update the value to present state
        $(this).attr( "value", candidate );
        $(this).removeClass();

        if( !is_intrusion && 0 == candidate.length ) {
          alert ( "Blank entries are not permitted" );
          return false;
        }

        var args = new Object();
        var target_entry_id = $(this).prop( "id" ).split( "__" )[0];
        args.id = target_entry_id;
        if( undefined !== obj ) {
          var columns = new Object();
          columns["word_id"] = obj;
          args.columns = columns;
        } else {
          args.candidate = candidate;
        }
        var blank_id = null;
        if( !is_intrusion ) {
          columns["selection"] = 'variant';
        } else {
          blank_id = '#' + $(this).prop( "id" ).replace( "intrusion", "blank" );
        }

        // push the edits
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {

          // determine what type of word this is along with its id
          if( 0 != candidate.length ) {
            args.id = {{ adjudicate_entry_id }};
            args.child_id = target_entry_id;

            var result = ajax_pull( "test_entry", "classify_word", args );
            $(this).addClass( result.classification );
            // if an intrusion, check and add the word if not in the autocomplete source
            if( "intrusion" == result.classification && undefined === obj ) {
              var text_selector = $( table_selector + ' input:text[id$="intrusion"]' );
              var source = text_selector.autocomplete( "option", "source" );
              source.push( { label : result.word, value : result.word_id } );
              text_selector.autocomplete( "option", "source", source );
            }
          }
          if( is_intrusion ) {
            $( blank_id ).prop( "checked", 0 == candidate.length );
          }
          configure_ui();
        } else {
          // clear the text entry and re-focus
          $(this).val( "" );
          $(this).attr( "value", "" );
          $(this).focus();
          if( is_intrusion ) {
            $( blank_id ).prop( "checked", false );
          }
        }
      } );// end text input change

      $( table_selector + ' input:checkbox[value="all"]' ).click( function() {
        // toggle check state of companion All checkbox
        $( table_selector + ' input:checkbox[value="all"]' ).not($(this)).removeProp( "checked" );
        $(this).prop( "checked", $(this).prop( "checked" ) );
        $( table_selector + ' input:checkbox[value="blank"]' ).removeProp( "checked" );
        var id = $(this).prop( "id" ).split("__")[3];
        var radio_selector_id = " div.radio__accept__" + id + " :radio";
        if( $(this).prop( "checked" ) ) {
          // check all the radio items corresponding to the progenitor column (1 or 2)?
          $('body').css( 'cursor', 'wait' );
          $( table_selector + radio_selector_id ).prop( "checked", true ).trigger( "change" );
          $('body').css( 'cursor', 'auto' );
        } else {
          // uncheck all the radio items and clear the adjudicate text inputs
          $( table_selector + ' div.adjudicate :radio' ).removeProp( "checked" ).trigger( "change" );
          $text_selector = $( table_selector + ' div.adjudicate :text' );
          $text_selector.prop( "disabled", true );
          $text_selector.removeClass();
          // update previous and present state of value
          $text_selector.val( "" );
          $text_selector.attr( "value", "" );
          $text_selector.trigger( "change" );
          $( table_selector + radio_selector_id ).removeProp( "checked" );
        }

        configure_ui();
      } );// end All checkbox click

      $( table_selector + ' input:radio[id$="__status__accept"]' ).change( function() {
        $source_select = $( table_selector +
          ' [id="' + $(this).prop( "id" ).replace( "__accept", "" ) + '"]' );
        var id = $(this).prop( "name" ).split( "__" )[0];
        var type = $(this).prop( "name" ).split( "__" )[1];
        var state = $source_select.val();
        var columns = new Object();
        columns[ type + '_status' ] = 'NULL' == state ? '' : state;
        var args = new Object();
        args.id = id;
        args.columns = columns;
        if( ajax_push( "{{ parent.subject }}", "edit", args ) ) {
          $target_select = $( table_selector +
            ' [id="' + $(this).prop( "name" ).replace( "accept", "adjudicate" ) + '"]' );
          $target_select.val( $source_select.val() );
          slot_refresh( {{ slot }} );
        }
      } );// end status radio input change

      $( table_selector + ' select[id$="adjudicate"]').change( function() {
        var id = $(this).prop( "id" ).split( "__" )[0];
        var type = $(this).prop( "id" ).split( "__" )[1];
        var state = $(this).val();
        var columns = new Object();
        columns[ type + '_status' ] = 'NULL' == state ? '' : state;
        var args = new Object();
        args.id = id;
        args.columns = columns;
        if( ajax_push( "{{ parent.subject }}", "edit", args ) ) {
          $( table_selector +
             ' input:radio[id$="' + type + '__status__accept"]' ).prop( 'checked', false );
          slot_refresh( {{ slot }} );
        }
      } ); // end adjudicate select change

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div class="spacer"></div>
  <div id="{{ widget.full }}__adjudicate_table">
    <table>
      <thead>
        <tr style="height:40px">
          <th>Entry</th>
          <th colspan="4">{{ user_1 }}</th>
          <th colspan="4">{{ user_2 }}</th>
          <th colspan="3">Adjudication</th>
        </tr>
        <tr>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
        </tr>
      </thead>
      <tbody>
      {% set disable_all_checkbox = true %}
      {% for entry in entry_data %}
        {% if entry.adjudicate|default(false) %}
          {% set disable_all_checkbox = false %}
        {% endif %}
        <tr>
          {% if entry.ranked_word_set_word is defined %}
            <td class="heading" style="text-align:center">{{ entry.ranked_word_set_word }}</td>
            <td>
              <div class="radio__source">
                <input type="radio"
                  id="{{ entry.id_1 }}__yes"
                  name="{{ entry.id_1 }}"
                  value="yes"
                  {% if entry.selection_1 is defined %}
                    {{ entry.selection_1 == 'yes' ? "checked" : "" }}
                  {% endif %}/>
              </div>
            </td>
            <td>
              <div class="radio__source">
                <input type="radio"
                  id="{{ entry.id_1 }}__no"
                  name="{{ entry.id_1 }}"
                  value="no"
                  {% if entry.selection_1 is defined %}
                    {{ entry.selection_1 == 'no' ? "checked" : "" }}
                  {% endif %}/>
              </div>
            </td>
            <td style="white-space: nowrap">
              <div class="radio__source">
                <input type="radio"
                  style="display:none"
                  id="{{ entry.id_1 }}__variant"
                  name="{{ entry.id_1 }}"
                  value="variant"
                  {% if entry.selection_1 is defined %}
                    {{ entry.selection_1 == 'variant' ? "checked" : "" }}
                  {% endif %}/>
              </div>
              <input type="text"
                id="{{ entry.id_1 }}__candidate"
                style="width:100px;border:0px"
                {% if entry.word_id_1 is defined %}
                  value="{{ entry.word_1 }}"
                  class="{{ entry.classification_1 }}"
                {% else %}
                  class="undefined"
                {% endif %}
                readonly
                disabled/>
            </td>
            {% if entry.adjudicate|default(false) %}
              <td class="accept">
                <div class="radio__accept__1">
                  <input type="radio"
                    id="{{ entry.id_1 }}__accept"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__{{ entry.id_3 }}__accept"
                    {% if entry.selection_1 is defined
                       and entry.selection_3 is defined
                       and entry.selection_1 == entry.selection_3 %}
                      {% if entry.word_id_1 is defined
                         and entry.word_id_3 is defined
                         and entry.word_id_3 == entry.word_id_1 %}
                           { checked }
                      {% else %}
                        {% if entry.word_id_3 == ""
                           and entry.word_id_1 == "" %}
                            { checked }
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    value="accept"/>
                  <label for="{{ entry.id_1 }}__accept">Accept</label>
                </div>
              </td>
            {% else %}
              <td></td>
            {% endif %}
            <td>
              <div class="radio__source">
                <input type="radio"
                  id="{{ entry.id_2 }}__yes"
                  name="{{ entry.id_2 }}"
                  value="yes"
                  {% if entry.selection_2 is defined %}
                    {{ entry.selection_2 == 'yes' ? "checked" : "" }}
                  {% endif %}/>
              </div>
            </td>
            <td>
              <div class="radio__source">
                <input type="radio"
                  id="{{ entry.id_2 }}__no"
                  name="{{ entry.id_2 }}"
                  value="no"
                  {% if entry.selection_2 is defined %}
                    {{ entry.selection_2 == 'no' ? "checked" : "" }}
                  {% endif %}/>
              </div>
            </td>
            <td style="white-space: nowrap">
              <div class="radio__source">
                <input type="radio"
                  style="display:none"
                  id="{{ entry.id_2 }}__variant"
                  name="{{ entry.id_2 }}"
                  value="variant"
                  {% if entry.selection_2 is defined %}
                    {{ entry.selection_2 == 'variant' ? "checked" : "" }}
                  {% endif %}/>
              </div>
              <input type="text"
                id="{{ entry.id_2 }}__candidate"
                style="width:100px;border:0px"
                {% if entry.word_id_2 is defined %}
                  value="{{ entry.word_2 }}"
                  class="{{ entry.classification_2 }}"
                {% else %}
                  class="undefined"
                {% endif %}
                readonly
                disabled/>
            </td>
            {% if entry.adjudicate|default(false) %}
            <td class="accept">
                <div class="radio__accept__2">
                  <input type="radio"
                    id="{{ entry.id_2 }}__accept"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__{{ entry.id_3 }}__accept"
                    {% if entry.selection_2 is defined
                       and entry.selection_3 is defined
                       and entry.selection_2 == entry.selection_3 %}
                      {% if entry.word_id_2 is defined
                         and entry.word_id_3 is defined
                         and entry.word_id_3 == entry.word_id_2 %}
                           { checked }
                      {% else %}
                        {% if entry.word_id_3 == ""
                           and entry.word_id_2 == "" %}
                            { checked }
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    value="accept"/>
                  <label for="{{ entry.id_2 }}__accept">Accept</label>
                </div>
              </td>
              <td>
                <div class="adjudicate">
                  <input type="radio"
                    id="{{ entry.id_3 }}__yes"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                    value="yes"
                    {% if entry.selection_3 is defined %}
                      {{ entry.selection_3 == 'yes' ? "checked" : "" }}
                    {% endif %}/>
                </div>
              </td>
              <td>
                <div class="adjudicate">
                  <input type="radio"
                    id="{{ entry.id_3 }}__no"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                    value="no"
                    {% if entry.selection_3 is defined %}
                      {{ entry.selection_3 == 'no' ? "checked" : "" }}
                    {% endif %}/>
                </div>
              </td>
              <td style="white-space: nowrap">
                <div class="adjudicate">
                  <input type="radio"
                    id="{{ entry.id_3 }}__variant"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                    value="variant"
                    {% if entry.selection_3 is defined %}
                      {{ entry.selection_3 == 'variant' ? "checked" : "" }}
                    {% endif %}/>
                  <input type="text"
                    id="{{ entry.id_3 }}__candidate"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                    {% set disable = true %}
                    {% if entry.selection_3 is defined %}
                      {% if entry.selection_3 == 'variant' and entry.word_id_3 is defined %}
                        value="{{ entry.word_3 }}"
                        class="{{ entry.classification_3 }}"
                        {% set disable = false %}
                      {% endif %}
                    {% endif %}
                    {{ disable ? "disabled" : "" }}/>
                </div>
              </td>
            {% else %}
              <td></td><td colspan="3"></td>
            {% endif %}
          {% else %}
            <td class="heading" style="text-align:center">INTRUSION</td>
            <td colspan="2"></td>
            <td>
              <input type="text"
                id="1__{{ entry.id_3 }}__intrusion__source"
                style="width:100px;border:0px"
                readonly
                {% if entry.word_id_1 is defined %}
                  value="{{ entry.word_1 }}"
                  class="{{ entry.classification_1 }}"
                {% else %}
                  class="undefined"
                {% endif %}/>
            </td>
            {% if entry.adjudicate|default(false) %}
              <td class="accept">
                <div class="radio__accept__1">
                  <input type="radio"
                    id="1__{{ entry.id_3 }}__intrusion__accept"
                    name="{{ entry.id_1|default(0) }}__{{ entry.id_2|default(0) }}__{{ entry.id_3 }}__accept"
                    {% if entry.word_id_1 is defined
                       and entry.word_id_3 is defined
                       and entry.word_id_3 == entry.word_id_1 %}
                         { checked }
                    {% else %}
                      {% if entry.word_id_3 == ""
                         and entry.word_id_1 == "" %}
                          { checked }
                      {% endif %}
                    {% endif %}
                    value="accept"/>
                  <label for="1__{{ entry.id_3 }}__intrusion__accept">Accept</label>
                </div>
              </td>
            {% else %}
              <td></td>
            {% endif %}
            <td colspan="2"></td>
            <td>
              <input type="text"
                id="2__{{ entry.id_3 }}__intrusion__source"
                style="width:100px"
                readonly
                {% if entry.word_id_2 is defined %}
                  value="{{ entry.word_2 }}"
                  class="{{ entry.classification_2 }}"
                {% else %}
                  class="undefined"
                {% endif %}/>
            </td>
            {% if entry.adjudicate|default(false) %}
              <td class="accept">
                <div class="radio__accept__2">
                  <input type="radio"
                    id="2__{{ entry.id_3 }}__intrusion__accept"
                    name="{{ entry.id_1|default(0) }}__{{ entry.id_2|default(0) }}__{{ entry.id_3 }}__accept"
                    {% if entry.word_id_2 is defined
                       and entry.word_id_3 is defined
                       and entry.word_id_3 == entry.word_id_2 %}
                         { checked }
                    {% else %}
                      {% if entry.word_id_3 == ""
                         and entry.word_id_2 == "" %}
                          { checked }
                      {% endif %}
                    {% endif %}
                    value="accept"/>
                  <label for="2__{{ entry.id_3 }}__intrusion__accept">Accept</label>
                </div>
              </td>
              <td colspan="2"></td>
              <td>
                <div class="adjudicate">
                  <input type="text"
                    id="{{ entry.id_3 }}__intrusion"
                    style="width:100px"
                    name="{{ entry.id_1|default(0) }}__{{ entry.id_2|default(0) }}__{{ entry.id_3 }}__intrusion"
                    {% if entry.word_id_3 is defined %}
                      value="{{ entry.word_3 }}"
                      class="{{ entry.classification_3 }}"
                    {% else %}
                      class="undefined"
                      { disabled }
                    {% endif %}/>
                <input type="checkbox"
                  id="{{ entry.id_3 }}__blank"
                  name="{{ entry.id_3 }}"
                  {% if entry.word_id_3 == "" %}
                    {% if entry.word_id_1 == ""
                          or entry.word_id_2 == "" %}
                      { checked }
                    {% endif %}
                  {% endif %}
                  readonly
                  disabled
                  value="blank"/>
                </div>
              </td>
            {% else %}
              <td></td><td colspan="3"></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
      {% if disable_all_checkbox == false %}
        <tr>
          <td colspan="4"></td>
          <td class="accept">
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__1"
              name="{{ widget.full }}__accept__all"
              value="all"/>
              <label for="{{ widget.full }}__accept__all__1">All</label>
          </td>
          <td colspan="3"></td>
          <td class="accept">
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__2"
              name="{{ widget.full }}__accept__all"
              value="all"/>
              <label for="{{ widget.full }}__accept__all__2">All</label>
          </td>
          <td colspan="3"></td>
        </tr>
      {% endif %}
      <tr style="height: 25px"><td colspan="12"></td></tr>
      {% for status in status_data %}
        <tr>
          <td class="heading">{{ status.status_label }}</td>
          <td colspan="3">
            <select id="{{ status.id_1 }}__{{ status.status_type }}__status"
              class="ui-state-default"
              style="width: 100%"
              disabled>
              {% for status_id, status_value in status.status_list %}
                {% set status_display = status_value is defined ? status_value : "" %}
                <option{{ status.status_1 == status_id ? ' selected' : '' }}
                 value="{{ status_id }}">{{ status_display }}</option>
              {% endfor %}
            </select>
          </td>
          {% if status.adjudicate|default(false) %}
            <td class="accept">
              <input type="radio"
                id="{{ status.id_1 }}__{{ status.status_type }}__status__accept"
                {% if status.status_1 != status.status_2
                  and status.status_3 == status.status_1 %}
                    { checked }
                {% endif %}
                name="{{ status.id_3 }}__{{ status.status_type }}__status__accept"
                value="{{ status.status_type }}__status__accept"/>
              <label for="{{ status.id_1 }}__{{ status.status_type }}__status__accept">Accept</label>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          <td colspan="3">
            <select id="{{ status.id_2 }}__{{ status.status_type }}__status"
              class="ui-state-default"
              style="width: 100%"
              disabled>
              {% for status_id, status_value in status.status_list %}
                {% set status_display = status_value is defined ? status_value : "" %}
                <option{{ status.status_2 == status_id ? ' selected' : '' }}
                 value="{{ status_id }}">{{ status_display }}</option>
              {% endfor %}
            </select>
          </td>
          {% if status.adjudicate|default(false) %}
            <td class="accept">
              <input type="radio"
                id="{{ status.id_2 }}__{{ status.status_type }}__status__accept"
                {% if status.status_1 != status.status_2
                  and status.status_3 == status.status_2 %}
                    { checked }
                {% endif %}
                name="{{ status.id_3 }}__{{ status.status_type }}__status__accept"
                value="{{ status.status_type }}__status__accept"/>
              <label for="{{ status.id_2 }}__{{ status.status_type }}__status__accept">Accept</label>
            </td>
            <td colspan="3">
              <select id="{{ status.id_3 }}__{{ status.status_type }}__status__adjudicate"
                class="ui-state-default"
                style="width: 100%">
                {% for status_id, status_value in status.status_list %}
                  {% set status_display = status_value is defined ? status_value : "" %}
                  <option{{ status.status_3 == status_id ? ' selected' : '' }}
                   value="{{ status_id }}">{{ status_display }}</option>
                {% endfor %}
              </select>
            </td>
          {% else %}
            <td></td><td colspan="3"></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock widget %}
