{##
 # test_entry_ranked_word_adjudicate.twig
 # 
 # Adjudicate a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">
    
    var table_selector = "#{{ widget.full }}__entry_table";

    function configure_ui() {
      var numTotal = 
        $( table_selector + ' input:radio[value="accept"]' ).length / 2;
      var numYes = 
        $( table_selector + ' input:radio[value="yes"][name$="adjudicate"]:checked' ).length;
      var numNo = 
        $( table_selector + ' input:radio[value="no"][name$="adjudicate"]:checked' ).length;
      var numVariant = 
        $( table_selector + ' input:radio[value="variant"][name$="adjudicate"]:checked' ).length;
      var numIntrusion = 
        $( table_selector + ' input:radio[id$="intrusion__accept"]:checked' ).length;

      var disable = ( numYes + numNo + numVariant + numIntrusion ) != numTotal;
      $( "#{{ parent.full }}_Submit" ).button( { disabled : disable } );
    }

    // overrides the default autocomplete filter function to search only from the beginning
    // of the string
    $.ui.autocomplete.filter = function ( array, term ) {
      var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( term ), "i" );
      return $.grep( array, function ( value ) {
        return matcher.test( value.label || value.value || value );
      } );
    };

    function get_text_complete() {
      var args = new Object();
      args["variant_dictionary_id"] = {{ variant_dictionary_id }};
      args["language"] = "{{ language }}";
      args["words_only"] = 1;
      return ajax_pull( "word", "list", args );
    }

    $( function () {
     
      configure_ui();

      //hijack all the non-accept radio buttons so that
      //a non-greyed out appearance can be maintained instead
      //of assigning the disabled attribute
      $( table_selector + 
        ' input:radio[value!="accept"]:not([name$="adjudicate"])' ).click(function(e) {
        e.preventDefault();
        return false;
      });

      $( "#{{ parent.full }}_Submit" ).click( function() {
        var args = new Object();
        var columns = new Object();
        var data = new Object();
        columns["participant_id"] = {{ participant_id }};
        columns["test_id"] = {{ test_id }};
        columns["completed"] = 1;
        columns["id_1"] = {{ id_1 }};
        columns["id_2"] = {{ id_2 }};

        $( table_selector + ' input:radio[name$="adjudicate"]:checked' ).each( function() {
          var id = $(this).prop( "id" ).split( "__" )[0] + "__" + $(this).val();
          var word_id = 
            $( table_selector + ' input:radio[id="' + id + '"]' ).prop( "name" ).split( "__" )[0];
          var candidate = "";
          if( $(this).val() === "variant" ) {
            candidate = 
              $( table_selector + ' input:text[id="' + $(this).prop( "name" ) + '"]' ).val();
          } 
          data[word_id] = { 'selection' : $(this).val(), 'word_candidate' : candidate };
        } );
        
        $( table_selector + ' input:text[id$="intrusion"]' ).each( function() {
          var intrusion_id = $(this).prop( "id" ).replace( "__intrusion", "" );
          data[intrusion_id] = { 'selection' : "" , 'word_candidate' : $(this).val() };
        } );
 
        columns["data"] = data;
        args.columns = columns;

        if( ajax_push( "{{ parent.subject }}", "new", args ) ) {
          $( "#{{ parent.full }}_Submit" ).button( { disabled : true } );
          $( "#{{ parent.full }}_Next" ).trigger( "click" );
        }
      } );// end Submit button click

      // find and handle radio input change events:
      // copy the progenitor to the adjudicate entry
      $( table_selector + ' input:radio[value="accept"]' ).change( function() {
        var is_intrusion = $(this).prop( "id" ).indexOf( "intrusion" ) == -1 ? false : true;
        var entry_id = $(this).prop( "id" ).split( "__" )[0];
        if( is_intrusion ) {
          var target_text_id = '#' + 
            $( table_selector + ' input:text[id*="'+ entry_id + '__"][id$="intrusion"]' ).prop( "id" );
          var source_text_id = '#' + entry_id + "__intrusion";
          $( target_id ).val( $( source_id ).val() );
          $( target_id ).attr( "value", $( source_id ).val() );
        } else {
          var radio_id = 
            $( table_selector + ' input:radio[id^="' + entry_id + '__"]:checked').prop( "id" );
          var target_text_id = '#' + 
            $( table_selector + ' input:text[id*="'+ entry_id + '__"][id$="adjudicate"]' ).prop( "id" );
          if( radio_id.indexOf( "variant" ) != -1 ) {
            var source_text_id = '#' + radio_id.replace( "variant", "candidate" );
            $( target_text_id ).val( $( source_text_id ).val() );
            $( target_text_id ).attr( "value", $( source_text_id ).val() );
            $( target_text_id ).prop( "disabled", false );
          } else {
            $( target_text_id ).val( "" );
            $( target_text_id ).attr( "value", "" );
            $( target_text_id ).prop( "disabled", true );
          }
          var source_id = '#' + radio_id;
          var source_value = $( source_id ).val();
          var target_id = '#' + 
            $( table_selector + ' input:radio[id*="' + 
            entry_id + '__"][name$="adjudicate"][value="' +
            source_value + '"]' ).prop( "id" );
          $( target_id ).prop( "checked", $( source_id ).prop( "checked" ) );  
        }

        configure_ui();
      } )
      .click( function () {
        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );
      } );// end radio input change and click

      $( table_selector + ' input:radio[name$="adjudicate"]' ).change( function() {
        var disable = $(this).prop( "id" ).indexOf( "variant" ) != -1 ? false : true; 
        var target_text_id = '#' +  $(this).prop( "name" );
        if( disable ) {
          $( target_text_id ).prop( "disabled", true );
          $( target_text_id ).val( "" );
          // update the value to present state
          $( target_text_id ).attr( "value", "" );
        } else {
          $( target_text_id ).prop( "disabled", false );
          $( target_text_id ).focus();
        }
        // ensure corresponding Accept radio inputs are unchecked
        var id_1 = '#' + $(this).prop( "id" ).split( "__" )[0] + "__accept";
        var id_2 = '#' + $(this).prop( "id" ).split( "__" )[1] + "__accept";
        $( id_1 ).removeProp( "checked" ); 
        $( id_2 ).removeProp( "checked" ); 

        configure_ui();
      } );// end adjudicate radio input change

      $( table_selector + ' div.adjudicate :text' ).autocomplete( {
        source: get_text_complete(),
        minLength: 1,
        select: function( event, ui ) {
          $(this).val( ui.item.value );
          // TODO see if latest version of jquery has double enter key bug fixed
          //$(this).trigger( 'change' );
          }
        } )
      .change( function() {

        if( $(this).val().length == 0 ) {

          alert( "Blank entry not permitted." );

          // refill with the corresponding accepted text entry
          var is_intrusion = $(this).prop( "id" ).indexOf( "intrusion" ) != -1 ? true : false;

          var entry_id_1 =  $(this).prop( "id" ).split( "__" )[0];
          var entry_id_2 =  $(this).prop( "id" ).split( "__" )[1];

          var id_1 = '#' + entry_id_1;
          var id_2 = '#' + entry_id_2;
          var text_id_1 = id_1;
          var text_id_2 = id_2;

          if( is_intrusion ) {
            id_1 = id_1 + "__intrusion__accept";
            text_id_1 = text_id_1 + "__intrusion";
            id_2 = id_2 + "__intrusion__accept";
            text_id_2 = text_id_2 + "__intrusion";
          } else {
            id_1 = id_1 + "__accept";
            text_id_1 = text_id_1 + "__candidate";
            id_2 = id_2 + "__accept";
            text_id_2 = text_id_2 + "__candidate";
          }

          if( $( id_1 ).prop( "checked" ) ) {
            $(this).val( $( text_id_1 ).val() );
            $(this).attr( "value", $(this).val() ); 
          } else if ( $( id_2 ).prop( "checked" ) ) {
            $(this).val( $( text_id_2 ).val() );
            $(this).attr( "value", $(this).val() ); 
          } else {
            // uncheck the accept radio inputs
            $( id_1 ).removeProp( "checked" );
            $( id_2 ).removeProp( "checked" );
            // disable this text input
            $(this).prop( "disabled", true );
            // if not an intrusion, uncheck all the adjudicate radio entries
            if( !is_intrusion ) {
              $( table_selector + ' input:radio[name="' + 
                $(this).prop( "id" ) + '"]' ).removeProp( "checked" );
            }
          }
        } else {
          var candidate = $(this).val().trim().toLowerCase();
          var args = new Object();
          args.id = {{ test_id }};
          args["language"] = "{{ language }}";
          args["word_candidate"] = candidate;
          var classification = ajax_pull( "test", "classify_word", args );
          if( undefined != classification )
          {
            $(this).removeClass( "candidate intrusion variant" );
            $(this).addClass( classification );
          }
          $(this).val( candidate );
          $(this).attr( "value", $(this).val() ); 
        }

        configure_ui();
      } );// end text input change  

      $( table_selector + ' input:checkbox[value="all"]' ).click( function() {
        // toggle check state of companion All checkbox
        $( table_selector + ' input:checkbox[value="all"]' ).not($(this)).removeProp( "checked" );
        $(this).prop( "checked", $(this).prop( "checked" ) );
        if( $(this).prop( "checked" ) ){
          var id = $(this).prop( "id" ).split("__")[3];
          $radio_selector = "div.radio__accept__" + id + " :radio";
          $radio_selector.prop( "checked", true ).trigger( "change" );
        } else {
         $( table_selector + ' div.adjudicate :radio' ).removeProp( "checked" ).trigger( "change" );  
         $( table_selector + ' div.adjudicate :text' ).prop( "disabled", true );  
        }
      } );// end checkbox click

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div class="spacer">

  {% if entry_data is empty %}

    <caption style="text-align: left;">
      <strong>No adjudication required. Please press Prev, Next or Quit</strong>
    </caption>

  {% else %}

    <table id="{{ widget.full }}__entry_table"
           border="1">

      <thead>
        <tr style="height:40px">
          <th>Entry</th>
          <th colspan="4">"{{ user_1 }}"</th>
          <th colspan="4">"{{ user_2 }}"</th>
          <th colspan="3">Adjudicate</th>
        </tr>
        <tr>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
          <td></td>
          <th>Yes</th>
          <th>No</th>
          <th>Variant</th>
        </tr>
      </thead>

      <tbody>
      {% for entry in entry_data %}
        <tr>
          {% if entry.word_1 is defined %}

            <td class="heading" style="text-align:center">{{ entry.word_1 }}</td>

            <td>
              <input type="radio"
                id="{{ entry.id_1 }}__yes"
                name="{{ entry.word_id_1 }}__1"
                value="yes"
                {{ entry.selection_1 == 'yes' ? "checked" : "" }}>
            </td>
            <td>
              <input type="radio"
                id="{{ entry.id_1 }}__no"
                name="{{ entry.word_id_1 }}__1"
                value="no"
                {{ entry.selection_1 == 'no' ? "checked" : "" }}>
            </td>
            <td style="white-space: nowrap">
              <input type="radio"
                id="{{ entry.id_1 }}__variant"
                name="{{ entry.word_id_1 }}__1"
                value="variant"
                {{ entry.selection_1 == 'variant' ? "checked" : "" }}>
              <input type="text"
                id="{{ entry.id_1 }}__candidate"
                {% if entry.classification_1 is defined %}
                  class="{{ entry.classification_1 }}"
                {% endif %}
                readonly
                name="{{ widget.full }}"
                value="{{ entry.word_candidate_1 }}"
                {{ entry.selection_1 == 'variant' ? "" : "disabled" }}>
            </td>
            <td bgcolor=#B1F3B1>
              <div class="radio__accept__1">
                <input type="radio"
                  id="{{ entry.id_1 }}__accept"
                  name="{{ entry.word_id_1 }}__accept"
                  value="accept">
                <label for="{{ entry.id_1 }}__accept">Accept</label>
              </div>
            </td>

            <td>
              <input type="radio"
                id="{{ entry.id_2 }}__yes"
                name="{{ entry.word_id_2 }}__2"
                value="yes"
                {{ entry.selection_2 == 'yes' ? "checked" : "" }}>
            </td>
            <td>
              <input type="radio"
                id="{{ entry.id_2 }}__no"
                name="{{ entry.word_id_2 }}__2"
                value="no"
                {{ entry.selection_2 == 'no' ? "checked" : "" }}>
            </td>
            <td style="white-space: nowrap">
              <input type="radio"
                id="{{ entry.id_2 }}__variant"
                name="{{ entry.word_id_2 }}__2"
                value="variant"
                {{ entry.selection_2 == 'variant' ? "checked" : "" }}>
              <input type="text"
                id="{{ entry.id_2 }}__candidate"
                {% if entry.classification_2 is defined %}
                  class="{{ entry.classification_2 }}"
                {% endif %}
                readonly
                name="{{ widget.full }}"
                value="{{ entry.word_candidate_2 }}"
                {{ entry.selection_2 == 'variant' ? "" : "disabled" }}>
            </td>
            <td bgcolor=#B1F3B1>
              <div class="radio__accept__2">
                <input type="radio"
                  id="{{ entry.id_2 }}__accept"
                  name="{{ entry.word_id_2 }}__accept"
                  value="accept">
                <label for="{{ entry.id_2 }}__accept">Accept</label>
              </div>   
            </td>

            <td>
              <div class="adjudicate">
                <input type="radio"
                  id="{{ entry.id_1 }}__{{ entry.id_2 }}__yes"
                  name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                  value="yes">
              </div>
            </td>
            <td>
            <div class="adjudicate">
              <input type="radio"
                id="{{ entry.id_1 }}__{{ entry.id_2 }}__no"
                name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                value="no">
            </div>
            </td>
            <td style="white-space: nowrap">
            <div class="adjudicate">
              <input type="radio"
                id="{{ entry.id_1 }}__{{ entry.id_2 }}__variant"
                name="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                value="variant">
              <input type="text"
                id="{{ entry.id_1 }}__{{ entry.id_2 }}__adjudicate"
                disabled
                value="">
            </div>
            </td>
          {% else %}

            <td class="heading" style="text-align:center">"intrusion"</td>

            <td colspan="3"></td>
            <td>
              <input type="text"
                id="{{ entry.id_1 }}__intrusion"
                name="{{ widget.full }}"
                value="{{ entry.word_candidate_1 }}">
            </td>
            <td bgcolor=#B1F3B1>
              <div class="radio__accept__1">
                <input type="radio"
                  id="{{ entry.id_1 }}__intrusion__accept"
                  name="{{ entry.id_1 }}__{{ entry.id_2 }}__accept"
                  value="accept">
                <label for="{{ entry.id_1 }}__accept">Accept</label>
              </div>  
            </td>

            <td colspan="3"></td>
            <td>
              <input type="text"
                id="{{ entry.id_2 }}__intrusion"
                name="{{ widget.full }}"
                value="{{ entry.word_candidate_2 }}">
            </td>
            <td bgcolor=#B1F3B1>
              <div class="radio__accept__2">
                <input type="radio"
                  id="{{ entry.id_2 }}__intrusion__accept"
                  name="{{ entry.id_1 }}__{{ entry.id_2 }}__accept"
                  value="accept">
                <label for="{{ entry.id_2 }}__accept">Accept</label>
              </div>  
            </td>

            <td colspan="3"></td>
            <td>
              <div class="adjudicate">
                <input type="text"
                  id="{{ entry.id_1 }}__{{ entry.id_2 }}__intrusion"
                  disabled
                  value="">
              </div>
            </td>

          {% endif %}
        </tr>

      {% endfor %}

        <tr>
          <td colspan="4"></td>
          <td bgcolor=#B1F3B1>
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__1"
              name="{{ widget.full }}__accept__all"
              value="all">
              <label for="{{ widget.full }}__accept__all__1">All</label>
          </td>
          <td colspan="3"></td>
          <td bgcolor=#B1F3B1>
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__2"
              name="{{ widget.full }}__accept__all"
              value="all">
              <label for="{{ widget.full }}__accept__all__2">All</label>
          </td>
          <td colspan="3"></td> 
        </tr>

      </tbody>
    </table>

    <div id="{{ widget.full }}__variant_dialog"></div>

  {% endif %}

{% endblock widget %}

