{##
 # test_entry_alpha_numeric_transcribe.twig
 # 
 # Transcribe a alpha_numeric type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    function configure_ui() {

      //disable elements based on deferred status
      if( {{ deferred }} ) {
        $( "#{{ parent.full }}__audio_fault" ).prop( "disabled", "disabled" );
        $( "#{{ parent.full }}_Defer" ).button( { disabled :  true } );
        $( "#{{ parent.full }}_Reset" ).button( { disabled : true } );
        $( "#{{ widget.full }}_Add" ).button( { disabled : true } );
        $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
          $(this).prop( "disabled", "disabled" );
        } );
      } else {
        var numFilled = $( 'input:text[value!=""]' ).length;
        var numInput = $( 'input:text' ).length;
        var disable = numFilled == 0 && !{{ deferred }};
        $( "#{{ parent.full }}_Next" ).button( { disabled : disable } );

        var last_input = $( 'input:text[value=""]' ).first();
        if( !last_input.prop( "disabled" ) ) {
            last_input.focus();
        }
        disable = numFilled === numInput ? false : true;
        $( "#{{ widget.full }}_Add" ).button( { disabled : disable } );
      }      
    }

    function update_input_list() {
      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        var args = new Object();
        var columns = new Object();
        args.id = $(this).prop("id").split("__")[0];
        columns["rank"] = $(this).prop("id").split("__")[1];
        columns["test_entry_id"] = {{ parent.id }};
        columns["word_id"] = $(this).prop( "name" ) === "undefined" ? "" : $(this).prop( "name" );
        var candidate = $(this).val().trim().toLowerCase();
        columns["word_value"] = candidate;
        args.columns = columns;

        // refresh with updated information
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          var next_rank_id = "__" + ( parseInt( columns['rank'] ) + 1 );
          $( 'input:text[id$="' + next_rank_id + '"]' ).removeProp( "disabled" );
          $(this).val( candidate );
          $(this).attr( "value", candidate );
          configure_ui();
        }
        else {
          $(this).val( "" );
          $(this).attr( "value", "" );
          $(this).focus();
        }
      } );// end text input change
    }

    $( function () {

      update_input_list();
      configure_ui();

      $( "#{{ widget.full }}_Add" ).button( {
        text: false,
        icons: { primary: "ui-icon-plusthick" }
        } ).click( function() {

          var html = '<td class="added"><input type="text" style="width:20%"></td>';
          var maxTd = $( "#{{ widget.full }}__entry_table tr:first td" ).length;
          var targetRow = $( "#{{ widget.full }}__entry_table tr" ).length - 1;
          var numTd = $( "#{{ widget.full }}__entry_table tr:nth-child(" + targetRow + ") td" ).length;
          if( numTd === maxTd ) {
            html = '<tr class="added">' + html + "</tr>";
            $( "#{{ widget.full }}__entry_table tr:last" ).before( html );
          } else {
            $( "#{{ widget.full }}__entry_table tr:last" ).prev().append( html );
          }
          var args = new Object();
          var columns =  new Object();
          columns["test_entry_id"] = {{ parent.id }};          
          columns["rank"] = "";
          args.columns = columns;
          if( ajax_push( "{{ widget.subject }}", "new", args ) ) {
            update_input_list();
            $( "#{{ widget.full }}_Add" ).button( { disabled : true } );
            $( "#{{ widget.full }}__entry_table tr:last" ).prev().find( "input:last" ).focus();
          }
      } );


      // loop over all input elements and clear them
      // update the db to reflect the changes
      $( "#{{ parent.full }}_Reset" ).click(function() {
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": "{{ parent.id }}" } ) ) {
          $( "input:text" ).each( function() {
              $(this).val( "" );
              $(this).attr( "value", "" );
              $(this).prop( "name", "undefined" );
              var rank = parseInt( $(this).prop( "id" ).split("__")[1] );
              $(this).prop( "disabled", rank !== 1 );
            }
          } );
          $( "td.added" ).remove();
          $( "tr.added" ).remove();
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    <tbody>
    {% set numcell =  10 %}
    {% set kprev= 'true' %}
    {% for i in range(0, entry_data|length-1, numcell) %}
      <tr>
      {% set kmax = i+numcell-1 %}
      {% if kmax > entry_data|length-1 %}
        {% set kmax = entry_data|length-1 %}
      {% endif %}  
      {% for k in i..kmax %}

        {% set value = '' %}
        {% if entry_data[k].word_id is defined %}
          {% set value = entry_data[k].word %}
        {% endif %}
        {% set status = entry_data[k].word_id ? "word" : "empty" %} 

          <td>
            <input type="text"
             style="width:20%"
             id="{{ entry_data[ k ].id }}__{{ entry_data[ k ].rank }}"
             name={{ entry_data[k].word_id ? entry_data[k].word_id : 'undefined' }}

             {% if editable == false %}
               { readonly }
             {% endif %}
             {% if status == 'empty'  %} 
               {% if kprev == 'false' %}
                 {{ "disabled" }}
               {% endif %}
               {% set kprev = 'false' %}
             {% elseif status == 'word' %}
                 {% set kprev = 'true' %}
             {% endif %}
               
             value={{ value }}>
          </td>

        {% endfor %}
        
      </tr>

    {% endfor %}

      <tr>
        <td colspan={{ numcell }}>
            <button class="{{ widget.full }}__add_entry"
              style="float:right"
              disabled
              id="{{ widget.full }}_Add">Add</button>
         </td>
      </tr>

    </tbody>
  </table>

{% endblock widget %}

