{##
 # test_entry_ranked_word_adjudicate.twig
 # 
 # Adjudicate a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">

    function configure_ui() {
      var disable = $( 'input:radio[value="accept"]:checked' ).length == 
                    $( 'input:radio[value="accept"]' ).length ? 0 : 1;
      $("#{{ parent.full }}_Submit").button( { disabled : disable } );        
    }

    $( function () {
     
      configure_ui();

      // find and handle radio element change events:
      // enable/disable the text entry element depending on
      // which radio button was selected
      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[value!="accept"]' ).change( function() {
        var args = new Object();
        var columns = new Object();
        var name = $(this).attr( "name" );
        columns["id"] = $(this).attr( "name" ).split("__")[1];
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" ).split("__")[0];
        columns["selection"] = $(this).val();

        var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
        if( $(this).val() == "variant" ) {
          // disable inputs until the variant is entered
          $( "#{{ widget.full }}__entry_table" ).find( "input" ).attr( "disabled", "disabled" );
          $(text_id).removeAttr( "disabled" );
          $(text_id).focus();
        } else {
          $(text_id).attr( "disabled", "disabled" );
          $(text_id).val( "" );
        }
        
        columns["word_candidate"] = $(text_id).val();
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
        } else {
          error_dialog( "Error", "Push to database failed." );
        }

      } );// end radio input change

      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        if( $(this).val().length == 0 ) {
          error_dialog( "Error", "Blank variant entry not permitted." );
        } else {

          var args = new Object();
          var columns = new Object();
          var text_type = $(this).attr( "name" ).split("__")[2];
          columns["id"] = $(this).attr( "name" ).split("__")[1];
          columns["test_entry_id"] = "{{ parent.id }}";
          columns["word_id"] = text_type == "variant" ? $(this).attr( "name" ).split("__")[0] : "";
          columns["word_candidate"] = $(this).val();
          columns["selection"] = text_type == "variant" ? "variant" : "";
          args.columns = columns;
          
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            input = $( "#{{ widget.full }}__entry_table" ).find( 'input' );
            input.each( function() {
              if( this.type == "radio" ) {
                $(this).removeAttr( "disabled" );
                if( $(this).val() == "variant" ) {
                  var text_id = "input:text[name=" + $(this).attr( "name" ) + "__variant]";
                  if( $(text_id).val().length > 0 ) {
                    $(text_id).removeAttr( "disabled" );
                  }  
                }                   
              }
              else if( this.type == "text" ) {
                if( $(this).attr("name").split("__")[2] == "intrusion" &&
                    $(this).val().length > 0 ) {
                  $(this).removeAttr( "disabled" );  
                }                
              }  
            } );// end each input
          }
        }
        
      } );// end text input change  

      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[value="accept"]' ).change(
        function() {
        configure_ui();
      } ); // end radio input change

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    <thead>
      <td>Entry #</td>
      <td>{{ user_1 }}</td>
      <td>{{ user_2 }}</td>
    </thead>
  
    {% for entry in entry_data %}
      <tr>
        {% set row_heading = 'intrusion' %}
        {% if entry.word_1 is defined %}
          <td class="heading">"{{ entry.word_1  }}"</td>
          <input id="{{ entry.word_1 }}__{{ entry.id_1 }}__{{ entry.id_2 }}"
               type="hidden"
               value="word">             
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_1 }}"
               value="yes"
               type="radio" 
               {{ entry.selection_1 == 'yes' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_1 }}"
               value="no"
               type="radio"
               {{ entry.selection_1 == 'no' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_1 }}"
               value="variant"
               type="radio"
               {{ entry.selection_1 == 'variant' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_1 }}__variant"
               type="text"
               {{ entry.selection_1 == 'variant' ? "" : "disabled" }}
               value={{ entry.word_candidate_1 }}>
          </td>
          <td><input id="{{ entry.id_1 }}__Accept"
               type="radio"
               value="accept">
               <label for="{{ entry.id_1 }}__Accept">Accept</label>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_2 }}"
               value="yes"
               type="radio" 
               {{ entry.selection_2 == 'yes' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_2 }}"
               value="no"
               type="radio"
               {{ entry.selection_2 == 'no' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_2 }}"
               value="variant"
               type="radio"
               {{ entry.selection_2 == 'variant' ? "checked" : "" }}>
          </td>
          <td><input name="{{ entry.word_id_1 }}__{{ entry.id_2 }}__variant"
               type="text"
               {{ entry.selection_2 == 'variant' ? "" : "disabled" }}
               value={{ entry.word_candidate_2 }}>
          </td>
          <td><input id="{{ entry.id_2 }}__Accept"
               type="radio"
               value="accept">
               <label for="{{ entry.id_2 }}__Accept">Accept</label>
          </td>
        {% else %}
          <td class="heading">"intrusion"</td>
          <input id="{{ entry.id_1 }}__{{ entry.id_2 }}"
               type="hidden"
               value="intrusion">
          <td></td><td></td><td></td>     
          <td><input name="{{ entry.id_1 }}__{{ entry.id_1 }}__intrusion"
               type="text"
               value={{ entry.word_candidate_1 }}>
          </td>
          <td><input id="{{ entry.id_1 }}__Accept"
               type="radio"
               value="accept">
               <label for="{{ entry.id_1 }}__Accept">Accept</label>
          </td>
          <td></td><td></td><td></td>     
          <td><input name="{{ entry.id_2 }}__{{ entry.id_2 }}__intrusion"
               type="text"
               value={{ entry.word_candidate_2 }}>
          </td>
          <td><input id="{{ entry.id_2 }}__Accept"
               type="radio"
               value="accept">
               <label for="{{ entry.id_2 }}__Accept">Accept</label>
          </td>
        {% endif %}
      </tr>
    {% endfor %}  

  </table>

  <div id="{{ widget.full }}__variant_dialog"></div>

{% endblock widget %}

