{##
 # test_entry_adjudicate.twig
 # 
 # Extends the base_record template for adjudicating test entries.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">   

    $( function () {

      $( "#{{ widget.full }}_Submit" ).click( function() {
        // submit the adjudication
        if( ajax_push( "{{ widget.subject }}", "submit", { "id": {{ id_3 }} } ) ) {
          $( "#{{ widget.full }}_Submit" ).button( { disabled : true } );
          $( "#{{ widget.full }}_Next" ).trigger( "click" );
        }
      } );// end Submit button click


      $( "#{{ widget.full }}_Quit" ).click( function() {
        slot_load( {{ slot }}, "assignment", "list" );
      } ); // end Quit click

      $( "#{{ widget.full }}_Prev" ).click( function() {
        {% if 0 == prev_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}  
          slot_load( {{ slot }}, 
            "{{ widget.subject }}", "{{ widget.name }}", 
            { id : {{ prev_test_entry_id }} } );
        {% endif %}
      } ).button( { disabled : 1 == {{ rank }} } ); // end Prev click

      $( "#{{ widget.full }}_Next" ).click( function() {
        {% if 0 == next_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}  
          slot_load( {{ slot }}, 
            "{{ widget.subject }}", "{{ widget.name }}", 
            { id : {{ next_test_entry_id }} } );
        {% endif %}  
      } ); // end Next click

    } );
  </script>

{% endblock javascript %}

{% block record %}

  <div class="spacer"></div>

  <div>
    {% include [ 'test_entry_', test_type, '_adjudicate.twig']|join with test_entry_args %}      
  </div>

  <div class="spacer"></div>

  <div id="audio_control">
    {% if recording_data is defined %}
      <table>
        {% set recording_id = 0 %}
        {% for recording in recording_data %}
          <tr>
            <audio controls
              id="{{ widget.full }}__recording__{{ recording_id }}" 
              <embed height="50" style="width:100%">
              <source src="{{ recording }}" type="audio/wav">
            </audio>
          </tr>
          {% set recording_id = recording_id+1 %}
        {% endfor %}
      </table>
    {% endif %}
    <input type="checkbox" id="{{ widget.full }}__audio_fault" 
      {{ audio_fault ? "checked":"" }}/>
    <label for="{{ widget.full }}__audio_fault">Audio Fault</label>  
  </div>  

  <div class="spacer"></div>

  <div>
    {% from 'macros.twig' import confirm_buttons %}
      {{ confirm_buttons( slot, widget.full, 
        ['Submit', 'Prev', 'Next', 'Quit'], '', 'right', true ) }}
  </div>

  <div id="{{ widget.full }}__note_dialog"></div>

{% endblock record %}
