{##
 # test_entry_confirmation_transcribe.twig
 #
 # Transcribe a confirmation test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  {% if editable != 0 %}

    <script type="text/javascript">

      var table_selector = "#{{ widget.full }}__entry_table";

      function configure_ui() {

        //disable elements based on deferred status
        var is_deferred = "requested" == "{{ deferred }}";
        var is_submitted = "submitted" == "{{ completed }}";

        if( is_deferred || !{{ editable }} || is_submitted ) {
          $( "#{{ parent.full }}__audio_status" ).prop( "disabled", true );
          $( "#{{ parent.full }}__participant_status" ).prop( "disabled", true );
          $( "#{{ parent.full }}_defer" ).button( { disabled :  true } );
          $( "#{{ parent.full }}_reset" ).button( { disabled : true } );
          $( "#{{ parent.full }}_submit" ).button( { disabled : true } );
          $( "#{{ parent.full }}_next").button( { disabled : false } );
          $( table_selector + " input" ).each( function() {
            $(this).prop( "disabled", true );
          } );
        } else {
          $( "#{{ parent.full }}_next" ).button( { disabled : !is_submitted } );

          var numFilled = $( table_selector + ' input[type="radio"]:checked' ).length;
          var complete_status =
            "unavailable" == "{{ audio_status }}" || "unusable" == "{{ audio_status }}" ||
            "refused" == "{{ participant_status }}";
          var null_status =
            'NULL' == "{{ audio_status }}" && 'NULL' == "{{ participant_status }}";

          // enable the submit button if there at least one entry is selected or the audio
          // and participant status indicate completion
          $("#{{ parent.full }}_submit").button( { disabled : !(complete_status || 0 < numFilled) } );

          // disable the reset button if there is nothing to reset
          $( "#{{ parent.full }}_reset" ).button( { disabled : null_status && 0 == numFilled } );

          if( complete_status ) {
            $( table_selector + " input" ).each( function() {
              $(this).prop( "disabled", true );
            } );
          }
        }
      }

      $( function () {

        configure_ui();

        // find and handle radio element change events
        $( table_selector + " input:radio" ).change( function() {
          var args = new Object();
          var columns = new Object();
          args.id = parseInt( $(this).prop( "id" ).split( "__" )[0] );
          columns["confirmation"] = ( $(this).val() === "yes" ) ? 1 : 0;
          args.columns = columns;
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            configure_ui();
          }
        } );// end radio input change

      } );
    </script>

  {% endif %}

{% endblock javascript %}

{% block widget %}

  <div class="spacer"></div>

  <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

  <div class="spacer"></div>

  <table id="{{ widget.full }}__entry_table" style="width:20%">

    <thead>
      <tr>
        <th>Yes</th>
        <th>No</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__yes"
            name="confirmation"
            value="yes"
            {% if editable == 0 %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '1' ? "checked" : "" }}/>
        </td>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__no"
            name="confirmation"
            value="no"
            {% if editable == 0 %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '0' ? "checked" : "" }}/>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock widget %}
