{##
 # test_entry_ranked_word_adjudicate.twig
 # 
 # Adjudicate a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">

    function configure_ui( do_text ) {
      var disable = $( 'input:radio[value="accept"]:checked' ).length == 
                    $( 'input:radio[value="accept"]' ).length ? false : true;
      $("#{{ parent.full }}_Submit").button( { disabled : disable } );

      do_text = (typeof do_text == 'undefined') ? true : do_text;
      if( do_text ) {
        // if no radio items are checked yet, disable all text inputs
        $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).each( function() {
            var disable = false;
            var is_candidate = $(this).attr( "id" ).split( "__" )[1] == "candidate" ? true : false;
            if( is_candidate ) {
              var id = "#" + $(this).attr( "id" ).split( "__" )[0] + "__variant";
              disable = $( id ).attr( "checked" ) ? false : true;              
            }
            if( disable ) { 
              $(this).attr( "disabled", "disabled" );
            } else {
              $(this).removeAttr( "disabled" );
            }
        } );
      }
    }

    $( function () {
     
      configure_ui();

      // find and handle radio element change events:
      // enable/disable the text entry element depending on
      // which radio button was selected
      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[value!="accept"]' ).change( function() {
        var args = new Object();
        var columns = new Object();
        args.id = $(this).attr( "id" ).split("__")[0];
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" );
        columns["selection"] = $(this).val();

        var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
        var do_text = true;
        if( $(this).val() == "variant" ) {
          // disable inputs until the variant is entered
          $( "#{{ widget.full }}__entry_table" ).find( "input" ).attr( "disabled", "disabled" );
          $(text_id).removeAttr( "disabled" );
          $(text_id).focus();
          do_text = false;
        } else {
          $(text_id).attr( "disabled", "disabled" );
          $(text_id).val( "" );
        }
        
        columns["word_candidate"] = $(text_id).val();
        args.columns = columns;

        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
        } else {
          error_dialog( "Error", "Push to database failed." );
        }
     
        configure_ui( do_text );

      } );// end radio input change

      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        if( $(this).val().length == 0 ) {
          error_dialog( "Error", "Blank variant entry not permitted." );
        } else {

          var args = new Object();
          var columns = new Object();
          args.id = $(this).attr( "id" ).split("__")[0];
          var is_intrusion = $(this).attr( "id" ).split("__")[1] === "intrusion" ? true : false;
          columns["test_entry_id"] = "{{ parent.id }}";
          columns["word_id"] = $(this).attr( "name" );
          columns["word_candidate"] = $(this).val();
          columns["selection"] = is_intrusion ? "" : "variant";
          args.columns = columns;
          
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            input = $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[value!="accept"]' );
            input.each( function() {
              $(this).removeAttr( "disabled" );
              if( $(this).val() == "variant" ) {
                var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
                if( $(text_id).val().length > 0 ) {
                  $(text_id).removeAttr( "disabled" );
                }  
              }                   
            } );// end each input
          }

          configure_ui();
        }
        
      } );// end text input change  

      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[value="accept"]' ).change(
        function() {
        configure_ui();
      } ); // end radio input change

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div class="spacer">

  <table id="{{ widget.full }}__entry_table"
         border="1">

    <thead>
      <tr style="height:40px">
        <th>Entry</th>
        <th colspan="4">{{ user_1 }}</th>
        <th colspan="4">{{ user_2 }}</th>
      </tr>
      <tr>
        <th></th>
        <th>Yes</th>
        <th>No</th>
        <th>Variant</th>
        <td></td>
        <th>Yes</th>
        <th>No</th>
        <th>Variant</th>
        <td></td>
      </tr>
    </thead>

    <tbody>
    {% for entry in entry_data %}
      <tr>
        {% if entry.word_1 is defined %}

          <td class="heading" style="text-align:center">{{ entry.word_1  }}</td>

          <td><input type="radio"
               id="{{ entry.id_1 }}__yes"
               name={{ entry.word_id_1 }}
               value="yes"
               {{ entry.selection_1 == 'yes' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id_1 }}__no"
               name={{ entry.word_id_1 }}
               value="no"
               {{ entry.selection_1 == 'no' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id_1 }}__variant"
               name={{ entry.word_id_1 }}
               value="variant"
               {{ entry.selection_1 == 'variant' ? "checked" : "" }}>
               <input type="text"
               id="{{ entry.id_1 }}__candidate"
               name={{ entry.word_id_1 }}
               {{ entry.selection_1 == 'variant' ? "" : "disabled" }}
               value={{ entry.word_candidate_1 }}></td>
          <td><input type="radio"
               id="{{ entry.id_1 }}__Accept"
               value="accept">
               <label for="{{ entry.id_1 }}__Accept">Accept</label></td>

          <td><input type="radio"
               id="{{ entry.id_2 }}__yes"
               name={{ entry.word_id_1 }}
               value="yes"
               {{ entry.selection_2 == 'yes' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id_2 }}__no"
               name={{ entry.word_id_1 }}
               value="no"
               {{ entry.selection_2 == 'no' ? "checked" : "" }}></td>
          <td><input type="radio"
               id="{{ entry.id_2 }}__variant"
               name={{ entry.word_id_1 }}
               value="variant"
               {{ entry.selection_2 == 'variant' ? "checked" : "" }}>
              <input type="text"
               id="{{ entry.id_2 }}__candidate"
               name={{ entry.word_id_1 }}
               {{ entry.selection_2 == 'variant' ? "" : "disabled" }}
               value={{ entry.word_candidate_2 }}></td>
          <td><input type="radio"
               id="{{ entry.id_2 }}__Accept"
               value="accept">
               <label for="{{ entry.id_2 }}__Accept">Accept</label></td>

        {% else %}

          <td class="heading" style="text-align:center">"intrusion"</td>

          <td></td><td></td><td></td>     
          <td><input type="text"
               id="{{ entry.id_1 }}__intrusion"
               name=""
               value={{ entry.word_candidate_1 }}></td>
          <td><input type="radio"
               id="{{ entry.id_1 }}__Accept"
               value="accept">
               <label for="{{ entry.id_1 }}__Accept">Accept</label></td>

          <td></td><td></td><td></td>     
          <td><input type="text"
               id="{{ entry.id_2 }}__intrusion"
               name=""
               value={{ entry.word_candidate_2 }}></td>
          <td><input type="radio"
               id="{{ entry.id_2 }}__Accept"
               value="accept">
               <label for="{{ entry.id_2 }}__Accept">Accept</label></td>

        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="{{ widget.full }}__variant_dialog"></div>

{% endblock widget %}

