{##
 # test_entry_confirmation_transcribe.twig
 # 
 # Transcribe a confirmation test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    function configure_ui() {
      var disable = $( ':input[type="radio"]:checked' ).length == 0 && !{{ deferred }} ? true : false;
      $("#{{ parent.full }}_Next").button( { disabled : disable } );

      //disable elements based on deferred status
      if( {{ deferred }} ) {
        $( "#{{ parent.full }}__audio_fault" ).prop( "disabled", "disabled" );
        $( "#{{ parent.full }}_Defer" ).button( { disabled :  true } );
        $( "#{{ parent.full }}_Reset" ).button( { disabled : true } );
        $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
          $(this).prop( "disabled", "disabled" );
        } );
      }
    }

    $( function () {

      configure_ui();

      // find and handle radio element change events
      $( "#{{ widget.full }}__entry_table" ).find( "input:radio" ).change( function() {
        var args = new Object();
        var columns = new Object();
        args.id = $(this).prop( "id" ).split( "__" )[0];
        columns["test_entry_id"] = {{ parent.id }};
        columns["confirmation"] = ( $(this).val() === "yes" ) ? 1 : 0;
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          configure_ui();
        }
      } ); // end radio input change

      $( "#{{ parent.full }}_Reset" ).click(function() {
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": "{{ parent.id }}" } ) ) {
          $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
            $(this).removeProp( "checked" );
          } );
          configure_ui();
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block widget %}
    
  <div class="spacer">

  <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

  <div class="spacer">

  <table id="{{ widget.full }}__entry_table" style="width:20%">
      
    <thead>
      <tr>
        <th>Yes</th>
        <th>No</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__yes"
            name="confirmation"
            value="yes"
            {% if editable == false %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '1' ? "checked" : "" }}>
        </td>
        <td>
          <input type="radio"
            id="{{ entry_data.id }}__no"
            name="confirmation"
            value="no"
            {% if editable == false %}
              { readonly }
            {% endif %}
            {{ entry_data.confirmation == '0' ? "checked" : "" }}>
        </td>
      </tr> 
    </tbody>
  </table> 

{% endblock widget %}
