{##
 # test_entry_view.twig
 #
 # View test_entry details.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}
  {{ parent() }}
    <script type="text/javascript">
      $( function() {

        // return button
        $( "#{{ widget.full }}__return" ).click( function() {
          $dialog = $( "#{{ widget.full }}__note_dialog" );
          var buttons = new Object;
          buttons.Ok = function() {
            var note = $("#{{ widget.full }}__note").val().trim();
            var wordCount = 0 == note.length ? 0 : note.split(' ').length;
            if( 0 == wordCount ) {
              error_dialog( "Error", "You cannot leave a blank note." );
            } else {
              $dialog.dialog( "close" );
              var args = new Object();
              args.id = {{ id }};
              if( ajax_push( "{{ widget.subject }}", "return", args ) ) {
                args = new Object();
                args.note = note;
                args.category = "{{ widget.subject }}";
                args.category_id = {{ id }};
                ajax_push( "note", "new", args );
                slot_load( {{ slot }}, "assignment", "list" );
              }
            }
          };

          buttons.Cancel = function() {
            $dialog.dialog( "close" );
          };

          var html = "A note is required indicating the reason for returning.";
          html += "<textarea id=\"{{ widget.full }}__note\"></textarea>";

          $dialog.html( html );

          $dialog.dialog( {
            closeOnEscape: true,
            title: "Return Note",
            modal: true,
            dialogClass: "alert",
            width: 450,
            buttons: buttons,
            beforeClose: function( event, ui ) { $(this).html( "" ); },
            open: function( event, ui ) { $( ".ui-dialog-titlebar-close", $(this).parent() ).hide(); }
          } );
        } );
      } );
    </script>
{% endblock javascript %}

{% block post_edit %}
  if( "audio_status" == column_name ||
      "participant_status" == column_name ) slot_refresh( {{ slot }} );
{% endblock post_edit %}

{% block record %}

  {{ parent() }}
  {% from 'macros.twig' import include_list %}
  {{ include_list( 'language', language_list|default(false), true ) }}
  {% include "test_entry_transcribe.twig" with test_entry_transcribe %}

  <div id="{{ widget.full }}__note_dialog"></div>

{% endblock record %}

{% block actions %}
  {% from 'macros.twig' import note_widget %}

  <tr><td colspan="2"><hr class="ui-widget ui-widget-content"></td></tr>
  <tr>
    <td class="heading"><span class="title">Actions:</span></td>
    <td class="content">
      {{ note_widget( widget.full, "test_entry", id, false, "Notes" ) }}
      {% for action_id, action in actions %}
        <button {% if action.description|default(false) %}
                  title="{{ action.description }}"
                {% endif %}
                id="{{ widget.full }}__{{ action_id }}">{{ action.heading }}</button>
      {% endfor %}
    </td>
  </tr>
{% endblock actions %}
