{##
 # test_entry_classfication_transcribe.twig
 # 
 # Transcribe a alpha_numeric type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">

    function configure_ui() {
      var disable = $(':input[type="text"][value!=""]').length == 0 && !{{ deferred }};
      $("#{{ parent.full }}_Next").button( { disabled : disable } );

      //disable elements based on deferred status
      if( {{ deferred }} ) {
        $("#{{ parent.full }}_Defer").button( { disabled :  true } );
        $("#{{ parent.full }}_Reset").button( { disabled : true } );
        $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
          $(this).attr( "disabled", "disabled" );
        } );
      } else {
        // set focus to the next empty input field
        $( 'input:text' ).each( function() {
          if( this.value ==='' && !$(this).attr( "disabled" ) ) {
            this.focus();
            return false;
          }
        } );
      }      
    }

    $( function () {

      configure_ui();

      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        var args = new Object();
        var columns = new Object();
        columns["id"] = $(this).attr("id").split("__")[0];
        columns["rank"] = $(this).attr("id").split("__")[1];
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" ) == "undefined" ? "" : $(this).attr( "name" );
        columns["word_value"] = $(this).val();
        args.columns = columns;

        // refresh with updated information
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          slot_refresh( {{ slot }} );
        }
      } );// end text input change

      // loop over all input elements and clear them
      // update the db to reflect the changes
      $( "#{{ parent.full }}_Reset" ).click(function() {
        var id = "{{ parent.id }}";
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": {{ id }} } ) ) {
          input = $("#{{ widget.full }}__entry_table" ).find( "input:text" );
          input.each( function() {
              $(this).val( "" );
              $(this).attr("name", "undefined" );
              var rank = $(this).attr( "id" ).split("__")[1];
              if( rank == "1" ) {
                $(this).removeAttr( "disabled" );
              } else {
                $(this).attr( "disabled", "disabled" );
              }
          } );
          configure_ui();
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block defer_action %}
  <script type="text/javascript">
  if( {{ deferred }} ) {
    $( "#{{ widget.full }}__entry_table" ).find( "input" ).each( function() {
    $(this).attr( "disabled", "disabled" );
    } );
  }
  </script>
{% endblock defer_action %}

{% block widget %}

  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    {% set numcell =  10 %}
    {% set kprev= 'true' %}
    {% for i in range(0, entry_data|length-1, numcell) %}
      <tr>
          {% set kmax = i+numcell-1 %}
          {% if kmax > entry_data|length-1 %}
            {% set kmax = entry_data|length-1 %}
          {% endif %}  
          {% for k in i..kmax %}

            {% set value = '' %}
            {% if entry_data[k].word_id is defined %}
              {% set value = entry_data[k].word %}
            {% endif %}
            {% set status = entry_data[k].word_id ? "word" : "empty" %} 

              <td><input id="{{ entry_data[ k ].id }}__{{ entry_data[ k ].rank }}"
                   type="text"
                   style="width:20%"
                   name={{ entry_data[k].word_id ? entry_data[k].word_id : 'undefined' }}

                   {% if status == 'empty'  %} 
                     {% if kprev == 'false' %}
                       {{ "disabled" }}
                     {% endif %}
                     {% set kprev = 'false' %}
                   {% elseif status == 'word' %}
                       {% set kprev = 'true' %}
                   {% endif %}
                   
                   value="{{ value }}"></td>
          {% endfor %}    
      </tr>
    {% endfor %}

  </table>

{% endblock widget %}

