{##
 # test_entry_ranked_word_transcribe.twig
 # 
 # Transcribe a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      // find and handle radio element change events:
      // enable/disable the text entry element depending on
      // which radio button was selected
      $( "#{{ widget.full }}__word_table" ).find("input:radio").change( function() {
        // the id of the text entry field for the variant
        var input_id="{{ widget.full }}__" + $(this).attr("name");
        var $input=$( "#"+input_id );
        var args = new Object();
        var columns = new Object();
        columns["test_entry_id"]="{{ parent.id }}";
        columns["word_id"]=$(this).attr("name");
        columns["selection"]=$(this).val();
        console.log(columns);
        args.columns = columns;
        //if(ajax_push( "{{ parent.subject }}", "new", args ) )


        if( $(this).val() == "variant" ) {
          $input.removeAttr("disabled");
        } else {
          $input.attr("disabled","disabled");
        }
        
      } );

      $("#{{ widget.full }}__word_table").find("input:text").change( function() {
        
      } );  

      // loop over all input elements and clear them
      // update the db to reflect the changes   
      // use the parent.full name since the reset button
      // is declared in the parent twig file
      $( "#{{ parent.full }}_Reset" ).click(function() {
        
        //console.log(["{{widget.full}}","{{parent.subject}}", "{{id}}"]);
       console.log($("#{{ widget.full }}__word_table").find("input:hidden"));
      //  slot_load( {{ slot }}, "assignment", "list" );
        
       //ajax_push( "{{ parent.subject }}", "delete", { "id": {{ id }} } );
      } );

      

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  <table id="{{ widget.full }}__word_table">
    <thead>
      <td></td>
      <td>Yes</td>
      <td>No</td>
      <td>Variant</td>
      <td></td>
    </thead>
    
    {% for word in word_list %}
      <tr>
        <td class="heading">{{ word.word }}</td>
        <td><input
             name="{{ word.word_id }}"
             value="yes"
             type="radio" 
             {{ word.selection == 'yes' ? "checked" : "" }}/></td>
        <td><input name="{{ word.word_id }}" 
             value="no"
             type="radio"
             {{ word.selection == 'no' ? "checked" : "" }}/></td>
        <td><input name="{{ word.word_id }}" 
             value="variant"
             type="radio"
             {{ word.selection == 'variant' ? "checked" : "" }}/></td>
        <td><input id="{{ widget.full }}__{{ word.word }}"
             name="{{ word.word_id}}"
             type="text"
             {{ word.selection == 'variant' ? '' : 'disabled' }}>{{ word.word_candidate }}</input></td>
        <td><input id="{{ parent.subject }}__word_id" value="{{ word.word_id }}" type="hidden"/></td>      
        <td><input id="{{ parent.subject }}__entry_id" value="{{ word.entry_id }}" type="hidden"/></td>      
        <td><input id="{{ parent.subject }}__id" value="{{ parent.id }}" type="hidden"/></td>      
      </tr>
    {% endfor %}  

  </table> 
{% endblock widget %}

