{##
 # test_entry_confirmation_adjudicate.twig
 # 
 # Adjudicate a confirmation type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    var table_selector = "#{{ widget.full }}__entry_table";
    
    function configure_ui() {
      var disable = 
        0 == $( table_selector + ' input:radio[value="accept"]:checked' ).length;
      $( "#{{ parent.full }}_Submit" ).button( { disabled : disable } );        
    }

    $( function () {

      configure_ui();

      //hijack all the non-accept radio buttons so that
      //a non-greyed out appearance can be maintained instead
      //of assigning the disabled attribute
      $( table_selector + ' input:radio[value!="accept"]' ).click(function(e) {
        e.preventDefault();
        return false;
      });

      $( "#{{ parent.full }}_Submit" ).click( function() {
        var args = new Object();
        var columns = new Object();
        var data = new Object();
        columns["participant_id"] = {{ participant_id }};
        columns["test_id"] = {{ test_id }};
        columns["completed"] = 1;
        columns["id_1"] = {{ id_1 }};
        columns["id_2"] = {{ id_2 }};

        data =
          $( table_selector + ' input:radio[name="adjudicate"]:checked' ).val() === "yes" ? 1 : 0;
        
        columns['data'] = data;
        args.columns = columns;

        if( ajax_push( "{{ parent.subject }}", "new", args ) ) {
          $( "#{{ parent.full }}_Submit" ).button( { disabled : true } );
          $( "#{{ parent.full }}_Next" ).trigger( "click" );
        }
      } );// end Submit button click

      $( table_selector + ' input:radio[value="accept"]' ).change(
        function() {
        var id = $(this).prop( "id" ).split( "__" )[0];
        var confirmation = $( table_selector + ' input:radio[id^="' + id + '"]:checked' ).val();
        $( table_selector + ' input:radio[name="adjudicate"]' ).removeProp( "checked" );
        $( table_selector + ' input:radio[name="adjudicate"][value="' + 
          confirmation +'"]' ).prop( "checked", true );

        configure_ui();
      } );// end radio input change

    } );
  </script>

{% endblock javascript %}

{% block widget %}
    
  <div class="spacer"></div>

  {% if entry_data.id_1 is defined and entry_data.id_2 is defined %}

    <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

    <div class="spacer"></div>

    <table id="{{ widget.full }}__entry_table" 
           border="1">

      <thead>
        <tr style="height:40px">
          <th colspan="3">"{{ user_1 }}"</th>
          <th colspan="3">"{{ user_2 }}"</th>
          <th colspan="3">Adjudication</th>
        </tr>
      </thead>
      
      <tbody>

          <tr>
            <td>
              <input type="radio"
                id="{{ entry_data.id_1 }}__yes"
                name="{{ entry_data.id_1 }}__confirmation"
                value="yes"
                {{ entry_data.confirmation_1 == '1' ? "checked" : "" }}/>
              <label for="{{ entry_data.id_1 }}__yes">Yes</label>
            </td>
            <td>
              <input type="radio"
                id="{{ entry_data.id_1 }}__no"
                name="{{ entry_data.id_1 }}__confirmation"
                value="no"
                {{ entry_data.confirmation_1 == '1' ? "" : "checked" }}/>
              <label for="{{ entry_data.id_1 }}__no">No</label>
            </td>
            <td bgcolor=#B1F3B1>
              <input type="radio"
                id="{{ entry_data.id_1 }}__accept"
                name="accept"
                value="accept"/>
              <label for="{{ entry_data.id_1 }}__accept">Accept</label>
            </td>

            <td>
              <input type="radio"
                id="{{ entry_data.id_2 }}__yes"
                name="{{ entry_data.id_2 }}__confirmation"
                value="yes"
                {{ entry_data.confirmation_2 == '1' ? "checked" : "" }}/>
              <label for="{{ entry_data.id_2 }}__yes">Yes</label>
            </td>
            <td>
              <input type="radio"
                id="{{ entry_data.id_2 }}__no"
                name="{{ entry_data.id_2 }}__confirmation"
                value="no"
                {{ entry_data.confirmation_2 == '1' ? "" : "checked" }}/>
              <label for="{{ entry_data.id_2 }}__no">No</label>
            </td>
            <td bgcolor=#B1F3B1>
              <input type="radio"
                id="{{ entry_data.id_2 }}__accept"
                name="accept"
                value="accept"/>
              <label for="{{ entry_data.id_2 }}__accept">Accept</label>
            </td>

            <td>
              <input type="radio"
                id="{{ widget.full }}__yes"
                name="adjudicate"
                value="yes"/>
              <label for="{{ widget.full }}__confirmation__yes">Yes</label>
            </td>
            <td>
              <input type="radio"
                id="{{ widget.full }}__no"
                name="adjudicate"
                value="no"/>
              <label for="{{ widget.full }}__confirmation__no">No</label>
            </td>
          </tr>

      </tbody>    
    </table> 

  {% else %}

    <caption style="text-align: left;">
      <strong>No adjudication required. Please press Prev, Next or Quit</strong>
    </caption>

  {% endif %}

{% endblock widget %}

