{##
 # test_entry_classfication_transcribe.twig
 # 
 # Transcribe a classification type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function () {
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <table id="{{ widget.full }}__word_table">

    {% for i in range(0, word_list|length-1, 4) %}
      {% set k = range( i, i+4 ) $}
       "{{ k }}"
      <tr>
        {% for j in range(   "{{ loop.index }}",  "{{ loop.index + 4 }}"  ) %}
          <td><input 
               type="text" 
               name="test"
               value="{{ j }}"></td>
         {% endfor %}
      </tr>
    {% endfor %}

  </table>

{% endblock widget %}

