{##
 # test_entry_transcribe.twig
 # 
 # Extends the base_record template for transcribing recordings.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    function break_dialog() {
      confirm_dialog(
        "On a break",
        "<p>Close this window when you wish to end your break.</p>",
        function() {
          ajax_push( "typist", "end_break" );
        },
        false
      );
    }
  
    $( function () {

      // go on break button
      $( "#{{ widget.full }}__break" ).click( function() {
        if( ajax_push( "typist", "begin_break" ) ) break_dialog();
      } );

      {# show the break dialog if the operator is on break #}
      {% if on_break %}break_dialog();{% endif %}

      $( "#{{ widget.full }}__audio_fault" ).click( function() {
        var args = new Object();
        args.columns = { audio_fault : $(this).is(':checked') ? 1 : 0 };
        args.id = {{ id }};
        ajax_push( "{{ widget.subject }}", "edit", args );
      } ); // end Audio Fault click
      
      $("#{{ widget.full }}_Quit").click( function() {
        slot_load( {{ slot }}, "assignment", "list" );
      } ); // end Quit click

      $( "#{{ widget.full }}_Defer" ).click( function() {

        $dialog = $( "#{{ widget.full }}__note_dialog" );
        var buttons = new Object;
        buttons.Ok = function() {
          var note = $("#{{ widget.full }}__note").val();
          if( 0 == note.length ) {
            error_dialog( "Error", "You cannot leave a blank note." );
          } else {
            var args = new Object();
            args.columns = { deferred : 1 };
            args.id = {{ id }};
            if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {

              args = new Object();
              args.note = note;
              args.category = "{{ widget.subject }}";
              args.category_id = {{ id }};
              
              if( ajax_push( "note", "new", args ) ) {
                $dialog.dialog( "close" );

                $( "#{{ widget.full }}_Next" ).button( { disabled : false } );
                $( "#{{ widget.full }}_Reset" ).button( { disabled : true } );
                $( "#{{ widget.full }}_Defer" ).button( { disabled : true } );

                slot_refresh( {{ slot }} );
              }
            }
          }
        };
        buttons.Cancel = function() { $dialog.dialog( "close" ); };

        var html = "A note is required indicating the reason for deferral.";
        html += "<textarea id=\"{{ widget.full }}__note\"></textarea>";

        $dialog.html( html );

        $dialog.dialog( {
          closeOnEscape: true,
          title: "Deferral Note",
          modal: true,
          dialogClass: "alert",
          width: 450,
          buttons: buttons,
          beforeClose: function( event, ui ) { $(this).html( "" ); },
          open: function( event, ui ) { $( ".ui-dialog-titlebar-close", $(this).parent() ).hide(); }
        } );

      } ).button( { disabled : {{ deferred }} } ); // end Defer click

      $( "#{{ widget.full }}_Prev" ).click( function() {
        {% if 0 == prev_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}
          slot_load( {{ slot }}, 
            "{{ widget.subject }}", "{{ widget.name }}", 
            { id : {{ prev_test_entry_id}} } );
        {% endif %}
      } ).button( { disabled : 1 == {{ rank }} } ); // end Prev click

      $( "#{{ widget.full }}_Next" ).click( function() {
        {% if 0 == next_test_entry_id %}
          slot_load( {{ slot }}, "assignment", "list" );
        {% else %}  
          slot_load( {{ slot }}, 
            "{{ widget.subject }}", "{{ widget.name }}", 
            { id : {{ next_test_entry_id }} } );
        {% endif %}
      } ); // end Next click

      $( "#{{ widget.full }}_Reset" ).click( function() {
        if( ajax_push( "{{ widget.subject }}", "reset", { "id": {{ id }} } ) ) {
          slot_refresh( {{ slot }} );
        }
      } ); // end Reset click  


    } );
  </script>

{% endblock javascript %}

{% block record %}

  <div class="spacer"></div>

  <div>
    {% include [ 'test_entry_', test_type, '_transcribe.twig']|join with test_entry_args %}      
  </div>  

  <div class="spacer"></div>

  <div id="audio_control">
    {% if recording_data is defined %}
      <table>
        {% set recording_id = 0 %}
        {% for recording in recording_data %}
          <tr>
            <audio controls
              id="{{ widget.full }}__recording__{{ recording_id }}"
              <embed height="50" style="width:100%">
              <source src="{{ recording }}" type="audio/wav">
            </audio>
          </tr>
          {% set recording_id = recording_id+1 %}
        {% endfor %}
      </table>
    {% endif %}
    <input type="checkbox"
      {% if editable == 0 %}
        { readonly }
      {% endif %}
      id="{{ widget.full }}__audio_fault"
      {{ audio_fault ? "checked":"" }}/>
    <label for="{{ widget.full }}__audio_fault">Audio Fault</label>
  </div>

  <div class="spacer"></div>

  <div>
    {% if actionable == 1 %}
      {% from 'macros.twig' import confirm_buttons %}
        {{ confirm_buttons( slot, widget.full,
          ['Defer', 'Reset', 'Prev', 'Next', 'Quit'], '', 'right', true ) }}
     
      {% from 'macros.twig' import note_widget %}
      {{ note_widget( widget.full, "test_entry", id, false, "Notes" ) }}

      <button id="{{ widget.full }}__break"
        style="width: 200px;">Go on break</button>
    {% endif %}
  </div>

  <div id="{{ widget.full }}__note_dialog"></div>

{% endblock record %}
