{##
 # test_entry_ranked_word_transcribe.twig
 # 
 # Transcribe a ranked word test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $( function () {

      // find and handle radio element change events:
      // enable/disable the text entry element depending on
      // which radio button was selected
      $( "#{{ widget.full }}__entry_table" ).find( "input:radio" ).change( function() {
        var args = new Object();
        var columns = new Object();
        var hidden_id = "input:hidden[name=" + $(this).attr( "name" ) + "]";
        columns["id"] = $(hidden_id).val();
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" );
        columns["selection"] = $(this).val();

        var text_id = "input:text[name=" + $(this).attr( "name" ) + "]";
        if( $(this).val() == "variant" ) {
          $(text_id).removeAttr( "disabled" );
        } else {
          $(text_id).attr( "disabled", "disabled" );
          $(text_id).val( "" );
        }
        
        columns["word_candidate"] = $(text_id).val();
        args.columns = columns;

        ajax_push( "{{ widget.subject }}", "edit", args );

      } );// end radio input change

      //TODO deal with case where text input loses focus with no text input
      $( "#{{ widget.full }}__entry_table" ).find( "input:text" ).change( function() {
        var args = new Object();
        var columns = new Object();
        var hidden_id = "input:hidden[name=" + $(this).attr( "name" ) + "]";
        columns["id"] = $(hidden_id).val();
        columns["test_entry_id"] = "{{ parent.id }}";
        columns["word_id"] = $(this).attr( "name" );
        columns["word_candidate"] = $(this).val();
        columns["selection"] = "variant";
        args.columns = columns;
        
        ajax_push( "{{ widget.subject }}", "edit", args );
        
      } );// end test input change  

      // loop over all input elements and clear them
      // update the db to reflect the changes   
      // use the parent.full name since the reset button
      // is declared in the parent twig file
      $( "#{{ parent.full }}_Reset" ).click(function() {
        var id = "{{ parent.id }}";
        if( ajax_push( "{{ parent.subject }}", "reset", { "id": {{ id }} } ) ) {
          input = $("#{{ widget.full }}__entry_table" ).find( "input" );
          input.each( function() {
            if( this.type == "radio" ) {
              if( $(this).val() == "no" ) {
                $(this).attr( "checked", "checked" );
              }
              else {
                $(this).removeAttr( "checked" );
              }
            }
            else {
              $(this).val( "" );
              $(this).attr( "disabled", "disabled" );
            }
          } );
        }
      } );// end Reset button click

    } );
  </script>

{% endblock javascript %}

{% block widget %}
  
  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    <thead>
      <td></td>
      <td>Yes</td>
      <td>No</td>
      <td>Variant</td>
      <td></td>
    </thead>
    
    {% for entry in  entry_data %}
      <tr>
        <td class="heading">{{ entry.word }}</td>
        <input name={{ entry.word_id }}
             type="hidden"
             value={{ entry.id}}>
        <td><input
             name={{ entry.word_id }}
             value="yes"
             type="radio" 
             {{ entry.selection == 'yes' ? "checked" : "" }}></td>
        <td><input name="{{ entry.word_id }}" 
             value="no"
             type="radio"
             {{ entry.selection == 'no' ? "checked" : "" }}></td>
        <td><input name={{ entry.word_id }} 
             value="variant"
             type="radio"
             {{ entry.selection == 'variant' ? "checked" : "" }}></td>
        <td><input name={{ entry.word_id }}
             type="text"
             {{ entry.selection == 'variant' ? "" : "disabled" }}
             value={{ entry.word_candidate }}></td>
      </tr>
    {% endfor %}  

  </table>

{% endblock widget %}

