{##
 # test_entry_alpha_numeric_adjudicate.twig
 #
 # Adjudicate an alpha_numeric type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

  <script type="text/javascript">

    var table_selector = "#{{ widget.full }}__entry_table";

    function configure_ui() {
      var disable = false;
      $( table_selector + ' input:text[id$="adjudicate"]').each( function() {
        var id_1 = "#" + $(this).prop( "name" ).split( "__" )[0] + "__accept";
        var id_2 = "#" + $(this).prop( "name" ).split( "__" )[1] + "__accept";
        if( ! ( $( id_1 ).prop( "checked" ) || $( id_2 ).prop( "checked" ) ) &&
            0 == $(this).val().length ) {
          var blank_id = '#' + $(this).prop( "id" ).replace( "adjudicate", "blank" );
          if( ! $( blank_id ).prop( "checked" ) ) {
            disable = true;
            return false;
          }
        }
      } );

      $( "#{{ parent.full }}_Submit" ).button( { disabled : disable } );
    }

    $( function () {

      configure_ui();

      // find and handle radio input change events:
      // copy the progenitor to the text input for adjudicate entry
      $( table_selector + ' input:radio[value="accept"]' ).change(
        function() {
          var entry_id = $(this).prop( "id" ).split( "__" )[0];
          var target_text_id = '#' + $(this).prop( "name" ) + "__adjudicate";
          var blank_id = target_text_id.replace( "adjudicate", "blank" );
          $( blank_id ).removeProp( "checked" );
          var source_text_id = '#' + entry_id + "__candidate";
          var candidate = $( source_text_id ).val();
          $( target_text_id ).val( candidate );
          $( target_text_id ).attr( "value", candidate );
          $( target_text_id ).removeProp( "disabled" );

          // push the edit
          var args = new Object();
          var columns = new Object();
          args.id = $(this).prop( "name" );

          if( 0 == candidate.length ) {
            columns["word_id"] = '';
          } else {
            columns["word_candidate"] = candidate;
          }
          args.columns = columns;

          // push the edits
          if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
            configure_ui();
          } else {
            alert( "Entry was not accepted, try again." );
            // clear the text entry and re-focus
            $(this).val( "" );
            $(this).attr( "value", "" );
            $(this).focus();
          }
        } )
      .click( function () {

        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );

      } );// end radio input change and click

      $( table_selector + ' input:text[id$="adjudicate"]' ).change( function() {
        // uncheck the progenitor radio items
        $( table_selector + ' input:radio[name="' +
          $(this).prop( "id" ).split( "__" )[0] + '"]' ).removeProp( "checked" );
        // uncheck the all checkboxes
        $( table_selector + ' input:checkbox[value="all"]' ).removeProp( "checked" );

        var candidate = $(this).val().trim().toLowerCase();
        // we've trimmed and lower-cased the candidate, so update the UI
        $(this).val( candidate );
        // update the value to present state
        $(this).attr( "value", candidate );

        var args = new Object();
        var columns = new Object();
        args.id = $(this).prop( "id" ).split( "__" )[0];
        if( 0 == candidate.length ) {
          columns["word_id"] = '';
        } else {
          columns["word_candidate"] = candidate;
        }
        args.columns = columns;

        // flag to determine the Submit button enable state
        var blank_id = '#' + $(this).prop( "id" ).replace( "adjudicate", "blank" );
        $( blank_id ).prop( "checked", 0 == candidate.length );

        // push the edits
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
          configure_ui();
        } else {
          alert( "Entry was not accepted, try again." );
          // clear the text entry and re-focus
          $(this).val( "" );
          $(this).attr( "value", "" );
          $(this).focus();
        }
      } );// end text input change

      $( table_selector + ' input:checkbox[value="all"]' ).click( function() {
        // toggle check state of companion All checkbox
        $( table_selector + ' input:checkbox[value="all"]' ).not($(this)).removeProp( "checked" );
        $(this).prop( "checked", $(this).prop( "checked" ) );
        $( table_selector + ' input:checkbox[value="blank"]' ).removeProp( "checked" );
        if( $(this).prop( "checked" ) ) {
          // check all the radio items corresponding to the progenitor column (1 or 2)?
          var id = $(this).prop( "id" ).split("__")[3];
          $radio_selector = $( table_selector + " div.radio__accept__" + id + " :radio" );
          $('body').css( 'cursor', 'wait' );
          $radio_selector.prop( "checked", true ).trigger( "change" );
          $('body').css( 'cursor', 'auto' );
        } else {
          // uncheck all the radio items and clear the adjudicate text inputs
          $( table_selector + ' input:radio[value="accept"]' ).removeProp( "checked" );
          $text_selector = $( table_selector + ' input:text[id$="adjudicate"]' );
          $text_selector.prop( "disabled", true );
          // update previous and present state of value
          $text_selector.val( "" );
          $text_selector.attr( "value", "" );
        }

        configure_ui();
      } );// end All checkbox click

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div class="spacer"></div>

  {% if entry_data is empty %}

    <caption style="text-align: left;">
      <strong>No adjudication required. Please press Prev, Next or Quit</strong>
    </caption>

  {% else %}

    <table id="{{ widget.full }}__entry_table"
           border="1">

      <thead>
        <tr style="height:40px">
          <th>Entry #</th>
          <th colspan="2">"{{ user_1 }}"</th>
          <th colspan="2">"{{ user_2 }}"</th>
          <th>Adjudication</th>
        </tr>
      </thead>

      <tbody>
      {% for entry in entry_data %}
        <tr>
          <td class="heading" style="text-align:center">{{ entry.rank }}</td>

            <td>
              <input type="text"
                style="width:10%; text-align:center"
                id="{{ entry.id_1 }}__candidate"
                {% if entry.word_1 is defined %}
                  value="{{ entry.word_1 }}"
                {% endif %}
                readonly/>
            </td>

            {% if entry.adjudicate is defined %}
              <td bgcolor=#B1F3B1>
                <div class="radio__accept__1">
                  <input type="radio"
                    id="{{ entry.id_1 }}__accept"
                    name="{{ entry.id_3 }}"
                    value="accept"/>
                  <label for="{{ entry.id_1 }}__accept">Accept</label>
                </div>
              </td>
            {% else %}
              <td></td>
            {% endif %}

            <td>
              <input type="text"
                style="width:10%; text-align:center"
                id="{{ entry.id_2 }}__candidate"
                {% if entry.word_2 is defined %}
                  value="{{ entry.word_2 }}"
                {% endif %}
                readonly/>
            </td>

            {% if entry.adjudicate is defined %}
              <td bgcolor=#B1F3B1>
                <div class="radio__accept__2">
                  <input type="radio"
                    id="{{ entry.id_2 }}__accept"
                    name="{{ entry.id_3 }}"
                    value="accept"/>
                  <label for="{{ entry.id_2 }}__accept">Accept</label>
                </div>
              </td>
              <td>
                <div class="adjudicate">
                  <input type="text"
                    id="{{ entry.id_3 }}__adjudicate"
                    style="width:10%; text-align:center"
                    name="{{ entry.id_1 }}__{{ entry.id_2 }}"
                    disabled/>
                  <input type="checkbox"
                    id="{{ entry.id_3 }}__blank"
                    name="{{ entry.id_3 }}"
                    readonly
                    disabled
                    value="blank"/>
                </div>
               </td>
            {% else %}
              <td></td><td></td>
            {% endif %}
        </tr>
      {% endfor %}

        <tr>
          <td colspan="2"></td>
          <td bgcolor=#B1F3B1>
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__1"
              name="{{ widget.full }}__accept__all"
              value="all"/>
              <label for="{{ widget.full }}__accept__all__1">All</label>
          </td>
          <td></td>
          <td bgcolor=#B1F3B1>
            <input type="checkbox"
              id="{{ widget.full }}__accept__all__2"
              name="{{ widget.full }}__accept__all"
              value="all"/>
              <label for="{{ widget.full }}__accept__all__2">All</label>
          </td>
          <td></td>
        </tr>

      </tbody>
    </table>

  {% endif %}

{% endblock widget %}
