{##
 # test_entry_confirmation_transcribe.twig
 # 
 # Adjudicate a confirmation type test.
 # @author Dean Inglis <inglisd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">

    function configure_ui() {
      var disable = $( 'input:radio[value="accept"]:checked' ).length == 
                    $( 'input:radio[value="accept"]' ).length ? 0 : 1;
      $("#{{ parent.full }}_Submit").button( { disabled : disable } );        
    }

    $( function () {

      configure_ui();

      // find and handle confirmation radio element change events
      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[name!="accept"]' ).change(
        function() {
        var args = new Object();
        var columns = new Object();
        columns["id"] = $(this).attr( "id" ).split("__")[0];
        columns["test_entry_id"] = "{{ parent.id }}";
        if( $(this).val() == "yes" ) {
          columns["confirmation"] = 1;
        } else {
          columns["confirmation"] = 0;
        }
        args.columns = columns;
        if( ajax_push( "{{ widget.subject }}", "edit", args ) ) {
        }
      } ); // end radio input change

      $( "#{{ widget.full }}__entry_table" ).find( 'input:radio[name="accept"]' ).change(
        function() {
        configure_ui();
      } ); // end radio input change

    } );
  </script>

{% endblock javascript %}

{% block widget %}
    
  <div class="spacer">

  <caption style="text-align: left;"><strong>{{ entry_data.instruction }}</strong></caption>

  <div class="spacer">

  <table id="{{ widget.full }}__entry_table">

    <thead>
      <td>Entry #</td>
      <td>{{ user_1 }}</td>
      <td>{{ user_2 }}</td>
    </thead>
      <tr>
        <td><input
           id="{{ entry.id_1 }}__Yes"
           name="{{ entry.id_1 }}__confirmation"
           value="yes"
           type="radio"
           {{ entry_data.confirmation_1 == '1' ? "checked" : "" }}>
           <label for="{{ entry.id_1 }}__Yes">Yes</label>
        </td>
        <td><input
           id="{{ entry.id_1 }}__No"
           name="{{ entry.id_1 }}__confirmation"
           value="no"
           type="radio"
           {{ entry_data.confirmation_1 == '1' ? "" : "checked" }}>
           <label for="{{ entry.id_1 }}__No">No</label>
        </td>
        <td><input
           id="{{ entry.id_1 }}__Accept"
           value="accept"
           type="radio">
           <label for="{{ entry.id_1 }}__Accept">Accept</label>
        </td>
        <td><input
           id="{{ entry.id_2 }}__Yes"
           name="{{ entry.id_2 }}__confirmation"
           value="yes"
           type="radio"
           {{ entry_data.confirmation_2 == '1' ? "checked" : "" }}>
           <label for="{{ entry.id_2 }}__Yes">Yes</label>
        </td>
        <td><input
           id="{{ entry.id_2 }}__No"
           name="{{ entry.id_2 }}__confirmation"
           value="no"
           type="radio"
           {{ entry_data.confirmation_2 == '1' ? "" : "checked" }}>
           <label for="{{ entry.id_2 }}__No">No</label>
        </td>
        <td><input
           id="{{ entry.id_2 }}__Accept"
           value="accept"
           type="radio">
           <label for="{{ entry.id_2 }}__Accept">Accept</label>
        </td>
      </tr>
  </table> 

{% endblock widget %}

